@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@media (min-width: 1280px) {
  .center .lnb .dropdown-menu li {
    width: 20%; } }

.notice-list .section-content .search-form {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .notice-list .section-content .search-form {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .notice-list .section-content .search-form {
      margin-bottom: 30px; } }
.notice-list .section-content .list {
  border-top: 3px solid #e10316; }
  .notice-list .section-content .list .dt-list {
    display: none;
    font-size: 0; }
    @media (min-width: 1280px) {
      .notice-list .section-content .list .dt-list {
        display: block; } }
    .notice-list .section-content .list .dt-list > li {
      display: inline-block;
      font-size: 15px;
      color: #333;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #ccc;
      background-color: #f7f7f7; }
      .notice-list .section-content .list .dt-list > li:nth-of-type(1) {
        width: 8%; }
      .notice-list .section-content .list .dt-list > li:nth-of-type(2) {
        width: 67%; }
      .notice-list .section-content .list .dt-list > li:nth-of-type(3) {
        width: 15%; }
      .notice-list .section-content .list .dt-list > li:nth-of-type(4) {
        width: 10%; }
  .notice-list .section-content .list .dd-list > li {
    padding: 20px 10px;
    border-bottom: 1px solid #dfdfdf; }
    @media (min-width: 768px) {
      .notice-list .section-content .list .dd-list > li {
        padding: 17px 20px; } }
    @media (min-width: 1280px) {
      .notice-list .section-content .list .dd-list > li {
        padding-left: 0;
        padding-right: 0; } }
    .notice-list .section-content .list .dd-list > li > ul {
      font-size: 0; }
      .notice-list .section-content .list .dd-list > li > ul > li {
        display: inline-block;
        font-size: 15px;
        color: #666;
        font-weight: 300; }
        @media (min-width: 1280px) {
          .notice-list .section-content .list .dd-list > li > ul > li {
            text-align: center;
            vertical-align: middle; } }
        .notice-list .section-content .list .dd-list > li > ul > li.num {
          display: none; }
          @media (min-width: 1280px) {
            .notice-list .section-content .list .dd-list > li > ul > li.num {
              display: inline-block;
              width: 8%; } }
        .notice-list .section-content .list .dd-list > li > ul > li.subject {
          display: block;
          margin-bottom: 10px; }
          .notice-list .section-content .list .dd-list > li > ul > li.subject a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            white-space: nowrap;
            color: #666; }
          @media (min-width: 768px) {
            .notice-list .section-content .list .dd-list > li > ul > li.subject {
              margin-bottom: 15px; }
              .notice-list .section-content .list .dd-list > li > ul > li.subject a {
                font-size: 16px; } }
          @media (min-width: 1280px) {
            .notice-list .section-content .list .dd-list > li > ul > li.subject {
              display: inline-block;
              width: 67%;
              text-align: left;
              padding-left: 30px;
              margin-bottom: 0; }
              .notice-list .section-content .list .dd-list > li > ul > li.subject a {
                font-size: 15px;
                vertical-align: middle; } }
        .notice-list .section-content .list .dd-list > li > ul > li.date {
          font-size: 13px; }
          .notice-list .section-content .list .dd-list > li > ul > li.date:after {
            display: inline-block;
            content: "|";
            font-size: 10px;
            color: #cbcbcb;
            padding: 0 10px;
            vertical-align: top;
            margin-top: 1px; }
          @media (min-width: 768px) {
            .notice-list .section-content .list .dd-list > li > ul > li.date {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .notice-list .section-content .list .dd-list > li > ul > li.date {
              width: 15%;
              font-size: 15px; }
              .notice-list .section-content .list .dd-list > li > ul > li.date:after {
                content: " ";
                padding: 0; } }
        .notice-list .section-content .list .dd-list > li > ul > li.count {
          font-size: 13px; }
          @media (min-width: 768px) {
            .notice-list .section-content .list .dd-list > li > ul > li.count {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .notice-list .section-content .list .dd-list > li > ul > li.count {
              display: inline-block;
              width: 10%;
              font-size: 15px; } }
.notice-list .section-content .paging {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .notice-list .section-content .paging {
      margin-top: 60px; } }
  @media (min-width: 1280px) {
    .notice-list .section-content .paging {
      margin-top: 70px; } }

.notice-view .section-content .view {
  border-top: 3px solid #e10316; }
  .notice-view .section-content .view .title {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .title {
        font-size: 18px;
        padding: 23px 0; } }
  .notice-view .section-content .view .content {
    padding: 25px 0 42px; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .content {
        padding-bottom: 70px; } }
    @media (min-width: 1280px) {
      .notice-view .section-content .view .content {
        padding-bottom: 50px; } }
    .notice-view .section-content .view .content .list-info {
      text-align: right;
      font-size: 0;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        .notice-view .section-content .view .content .list-info {
          margin-bottom: 70px; } }
      @media (min-width: 1280px) {
        .notice-view .section-content .view .content .list-info {
          margin-bottom: 125px; } }
      .notice-view .section-content .view .content .list-info > li {
        display: inline-block;
        font-size: 12px;
        color: #888;
        font-weight: 300; }
        @media (min-width: 768px) {
          .notice-view .section-content .view .content .list-info > li {
            font-size: 15px; } }
        .notice-view .section-content .view .content .list-info > li:first-child:after {
          display: inline-block;
          content: "|";
          font-size: 10px;
          color: #cbcbcb;
          padding: 0 10px;
          vertical-align: top;
          margin-top: 1px; }
        .notice-view .section-content .view .content .list-info > li dl {
          font-size: 0; }
          .notice-view .section-content .view .content .list-info > li dl dt {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            color: #888; }
            .notice-view .section-content .view .content .list-info > li dl dt:after {
              display: inline-block;
              content: ":";
              padding: 0 3px; }
            @media (min-width: 768px) {
              .notice-view .section-content .view .content .list-info > li dl dt {
                font-size: 15px; } }
          .notice-view .section-content .view .content .list-info > li dl dd {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            color: #888; }
            @media (min-width: 768px) {
              .notice-view .section-content .view .content .list-info > li dl dd {
                font-size: 15px; } }
    .notice-view .section-content .view .content .view-content > p {
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      color: #666;
      font-weight: 300; }
      @media (min-width: 768px) {
        .notice-view .section-content .view .content .view-content > p {
          font-size: 15px;
          line-height: 32px; } }
    .notice-view .section-content .view .content .view-content > img {
      display: block;
      margin: 0 auto;
      margin-top: 60px; }
    .notice-view .section-content .view .content .view-content .attach {
      margin-top: 40px; }
      @media (min-width: 992px) {
        .notice-view .section-content .view .content .view-content .attach {
          margin-top: 70px; } }
      .notice-view .section-content .view .content .view-content .attach dd {
        position: relative;
        padding-left: 20px; }
        .notice-view .section-content .view .content .view-content .attach dd:before {
          position: absolute;
          top: 2px;
          left: 0;
          font-size: 12px;
          color: #888;
          content: "\E80D";
          font-family: "fontello";
          margin-right: 10px;
          vertical-align: middle; }
          @media (min-width: 768px) {
            .notice-view .section-content .view .content .view-content .attach dd:before {
              font-size: 13px; } }
        .notice-view .section-content .view .content .view-content .attach dd a {
          display: block;
          font-size: 13px;
          color: #888;
          font-weight: 300;
          margin-top: 5px; }
          .notice-view .section-content .view .content .view-content .attach dd a:first-child {
            margin-top: 0; }
          .notice-view .section-content .view .content .view-content .attach dd a:after {
            content: ",";
            padding-right: 5px; }
          .notice-view .section-content .view .content .view-content .attach dd a:last-child:after {
            content: "";
            padding: 0; }
          @media (min-width: 768px) {
            .notice-view .section-content .view .content .view-content .attach dd a {
              font-size: 14px; } }
          @media (min-width: 1280px) {
            .notice-view .section-content .view .content .view-content .attach dd a {
              display: inline-block; } }
        @media (min-width: 768px) {
          .notice-view .section-content .view .content .view-content .attach dd {
            padding-left: 25px; }
            .notice-view .section-content .view .content .view-content .attach dd:before {
              top: 3px; } }
.notice-view .section-content .next-link {
  border-top: 1px solid #595757;
  border-bottom: 1px solid #595757; }
  .notice-view .section-content .next-link li {
    display: block;
    padding: 20px 10px; }
    .notice-view .section-content .next-link li:first-child {
      border-bottom: 1px solid #dfdfdf; }
    @media (min-width: 768px) {
      .notice-view .section-content .next-link li {
        padding-left: 30px;
        padding-right: 30px; } }
    .notice-view .section-content .next-link li dl {
      font-size: 0; }
      .notice-view .section-content .next-link li dl dt {
        display: inline-block;
        width: 60px;
        font-size: 13px;
        color: #2b2b2b;
        font-weight: 300;
        vertical-align: top; }
        .notice-view .section-content .next-link li dl dt:after {
          display: inline-block;
          font-size: 10px;
          content: "|";
          color: #ccc;
          margin-left: 13px;
          vertical-align: top;
          margin-top: 1px; }
          @media (min-width: 768px) {
            .notice-view .section-content .next-link li dl dt:after {
              font-size: 13px;
              margin-top: 0;
              margin-left: 30px; } }
        @media (min-width: 768px) {
          .notice-view .section-content .next-link li dl dt {
            width: 95px;
            font-size: 15px; } }
      .notice-view .section-content .next-link li dl dd {
        width: 78%;
        display: inline-block; }
        .notice-view .section-content .next-link li dl dd a {
          display: block;
          font-size: 13px;
          color: #666;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: top;
          font-weight: 300; }
          @media (min-width: 768px) {
            .notice-view .section-content .next-link li dl dd a {
              font-size: 15px; } }
        @media (min-width: 768px) {
          .notice-view .section-content .next-link li dl dd {
            width: 85%; } }
        @media (min-width: 1280px) {
          .notice-view .section-content .next-link li dl dd {
            width: 91%; } }
.notice-view .btn-area {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .notice-view .btn-area {
      text-align: right;
      margin-top: 60px; }
      .notice-view .btn-area p .btn-orange {
        width: 170px; } }
  @media (min-width: 768px) {
    .notice-view .btn-area {
      margin-top: 40px; } }

.as-search .section-content {
  text-align: center;
  padding: 40px 20px 45px;
  border: 1px solid #dfdfdf;
  background-color: #fafafa; }
  @media (min-width: 768px) {
    .as-search .section-content {
      padding: 100px 0; } }
  .as-search .section-content .summary {
    font-size: 13px;
    color: #333;
    line-height: 24px;
    padding-top: 115px;
    background-image: url(/assets/images/center/as_search_bg.png);
    background-repeat: no-repeat;
    background-size: 96px auto;
    background-position: 50% 0; }
    @media (min-width: 768px) {
      .as-search .section-content .summary {
        font-size: 16px;
        padding-top: 130px;
        background-size: 120px auto; } }
  .as-search .section-content .confirm {
    margin-top: 30px; }
    .as-search .section-content .confirm .form-group {
      margin-bottom: 10px; }
      .as-search .section-content .confirm .form-group .form-control {
        width: 260px;
        height: 45px;
        margin: 0 auto; }
        @media (min-width: 768px) {
          .as-search .section-content .confirm .form-group .form-control {
            width: 370px; } }
    .as-search .section-content .confirm .btn-area p .btn-orange {
      width: 260px;
      height: 45px;
      line-height: 45px; }
      @media (min-width: 768px) {
        .as-search .section-content .confirm .btn-area p .btn-orange {
          width: 370px; } }

.search-result .section-content .step-list {
  padding: 60px 0 65px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .search-result .section-content .step-list {
      padding: 110px 0; } }
  .search-result .section-content .step-list figure .img-responsive {
    margin: 0 auto; }
.search-result .section-content .result {
  padding-top: 60px; }
  @media (min-width: 768px) {
    .search-result .section-content .result {
      padding-top: 70px; } }
  @media (min-width: 1280px) {
    .search-result .section-content .result {
      padding-top: 110px; } }
  .search-result .section-content .result h4 {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 300;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .search-result .section-content .result h4 {
        font-size: 30px;
        margin-bottom: 30px; } }
  .search-result .section-content .result .sucess-list {
    font-size: 0;
    border-top: 3px solid #e40009; }
    .search-result .section-content .result .sucess-list > div {
      display: block; }
      @media (min-width: 768px) {
        .search-result .section-content .result .sucess-list > div {
          display: inline-block;
          width: 50%; }
          .search-result .section-content .result .sucess-list > div:nth-of-type(1) {
            width: 100%; }
          .search-result .section-content .result .sucess-list > div:nth-of-type(2) {
            width: 100%; }
          .search-result .section-content .result .sucess-list > div:nth-of-type(5) {
            width: 100%; } }
      .search-result .section-content .result .sucess-list > div dl {
        width: 100%;
        display: table;
        font-size: 0;
        border-bottom: 1px solid #dfdfdf; }
        .search-result .section-content .result .sucess-list > div dl dt {
          display: table-cell;
          width: 85px;
          font-weight: 400;
          font-size: 13px;
          color: #333;
          vertical-align: middle;
          padding: 20px 10px;
          background-color: #f8f8f8; }
          @media (min-width: 768px) {
            .search-result .section-content .result .sucess-list > div dl dt {
              width: 125px;
              padding-left: 30px;
              font-size: 15px; } }
          @media (min-width: 1280px) {
            .search-result .section-content .result .sucess-list > div dl dt {
              width: 170px; } }
        .search-result .section-content .result .sucess-list > div dl dd {
          display: table-cell;
          font-weight: 300;
          font-size: 13px;
          color: #555;
          vertical-align: middle;
          padding: 20px 10px; }
          @media (min-width: 768px) {
            .search-result .section-content .result .sucess-list > div dl dd {
              font-size: 15px;
              padding-left: 30px; } }
        .search-result .section-content .result .sucess-list > div dl.problem-list dt {
          vertical-align: top; }
        .search-result .section-content .result .sucess-list > div dl.problem-list dd > ul > li {
          display: block;
          line-height: 22px;
          margin-bottom: 10px; }
          .search-result .section-content .result .sucess-list > div dl.problem-list dd > ul > li:before {
            content: "-";
            padding-right: 5px; }
          .search-result .section-content .result .sucess-list > div dl.problem-list dd > ul > li:last-child {
            margin-bottom: 0; }
  .search-result .section-content .result .btn-area {
    margin-top: 40px; }
    @media (min-width: 768px) {
      .search-result .section-content .result .btn-area {
        text-align: right; } }
    .search-result .section-content .result .btn-area p .btn-orange {
      width: 300px; }
      @media (min-width: 768px) {
        .search-result .section-content .result .btn-area p .btn-orange {
          width: 170px; } }

/*# sourceMappingURL=center.css.map */
