$xs: "320px";
$sm: "768px";
$md: "992px";
$lg: "1280px";


$kcolor: #e40009;

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
//@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600');
//@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');
@import url('/assets/fontello/css/fontello.css');

@mixin noto() {
    font-family: 'Noto Sans KR', sans-serif;
}

@mixin titi() {
    font-family: 'Titillium Web', sans-serif;
}

@mixin maven() {
    font-family: 'Maven Pro', sans-serif;
}

@mixin trans($prop: all, $sec: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $prop;
    transition-property: $prop;
	-webkit-transition-duration: $sec;
    transition-duration: $sec;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

dl {
    margin-bottom: 0;
}

address {
    margin-bottom: 0;
}