@import 'common';

/* 이노서비스 lnb 공통 */
.inno {
    .lnb {
        .dropdown-menu {
            li {
                @media(min-width: $lg) {
                    width: 50%; 
                }
            }
        }
    }
}

// 홍보/영상
.promotional-info {
    #content {
        padding-bottom: 0;
    }
}
.promotional {
    .section-content {
        padding-bottom: 50px;
        @media(min-width: $sm) {
            padding-bottom: 80px;
        }
        @media(min-width: $lg) {
            padding-bottom: 110px;
        }
        ul {
            > li {
                a {
                    display: block;
                    max-width: 352px;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 40px;
                    @media(min-width: $sm) {
                        margin-bottom: 50px;
                    }
                    .figure {
                        position: relative;
                        width: 100%;
                        .img-responsive {
                            max-width: 352px;
                            width: 100%;
                            margin: 0 auto;
                        }                        
                    }
                    .figcaption {
                        padding-top: 25px;
                        h4 {
                            font-size: 14px;
                            color: #2b2b2b;
                            font-weight: 400;
                            margin-bottom: 10px;
                        }
                        .date {
                            font-size: 13px;
                            color: #999;
                            @include titi();
                        }
                        @media(min-width: $sm) {
                            h4 {
                                font-size: 16px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: none;
                        .figure {
                            .hover-box {
                                opacity: 1;
                                background-color: #f08501;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 20px;
            p {
                .btn-gray {
                    width: 300px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            @media(min-width: $sm) {
                margin-top: 30px;
                p {
                    .btn-gray {
                        width: 230px;
                    }
                }
            }
        }
    }
    .engineer {
        background-color: #f7f8f9;
        padding-bottom: 50px;
        @media(min-width: $sm) {
            padding-bottom: 80px;
        }
        @media(min-width: $lg) {
            padding-bottom: 110px;
        }
        .article-content {
            text-align: center;
            .bx-wrapper {
                position: relative;
                margin: 0 auto;
                .bx-viewport {
                    z-index: 2;
                    .engineer-list {
                        li {
                            text-align: center;
                            figure {
                                display: inline-block;
                                border: 1px solid #ccc;
                                @media(min-width: $sm) {
                                    margin: 0 15px;
                                }
                                figcaption {
                                    padding: 30px 0;
                                    background-color: #fff;
                                    @media(min-width: $sm) {
                                        padding: 27px 0 30px;
                                    }
                                    h6 {
                                        font-size: 14px;
                                        color: #2b2b2b;
                                        font-weight: 400;
                                        margin-bottom: 10px;
                                        @media(min-width: $sm) {
                                            font-size: 16px;
                                        }
                                    }
                                    p {
                                        font-size: 12px;
                                        color: #999;
                                        font-weight: 400;
                                        @include titi();
                                        @media(min-width: $sm) {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bx-controls {
                    position: absolute;
                    top: 50%;
                    width: 300px;
                    left: 50%;
                    z-index: 1;
                    margin-left: -150px;
                    margin-top: -18px;
                    @media(min-width: $sm) {
                        width: 724px;
                        margin-left: -362px;
                        margin-top: -30px;
                    }
                    @media(min-width: $md) {
                        width: 940px;
                        margin-left: -470px;
                    }
                    @media(min-width: $lg) {
                        width: 1170px;
                        margin-left: -585px;
                    }
                    .bx-controls-direction {
                        overflow: hidden;
                        a {
                            display: inline-block;
                            width: 20px;
                            height: 36px;
                            text-indent: -999999px;
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            @media(min-width: $sm) {
                                width: 33px;
                                height: 60px;
                            }
                            &.bx-prev {
                                float: left;
                                background-image: url(/assets/images/inno/left_xs_btn.png);
                                @media(min-width: $sm) {
                                    background-image: url(/assets/images/inno/left_sm_btn.png);
                                }
                            }
                            &.bx-next {
                                float: right;
                                background-image: url(/assets/images/inno/right_xs_btn.png);
                                @media(min-width: $sm) {
                                    background-image: url(/assets/images/inno/right_sm_btn.png);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 모달 
.modal {
    padding-top: 25%;
    padding-bottom: 150px;
    padding-right: 0 !important;
    background-color: rgba(0, 0, 0, .6);
    @media(min-width: $sm) {
        padding-top: 20%;
    }
    @media(min-width: $lg) {
        padding-top: 10%;
    }
    .modal-dialog {
        @media(min-width: $lg) {
            width: 770px;
        }
        .modal-content {
            box-shadow: none;
            border: 0;
            border-radius: 0;
            background: none;
            .modal-header {
                padding: 0;
                padding-bottom: 10px;
                border-bottom: 0;
                .close {
                    width: 30px;
                    height: 28px;
                    opacity: 1;
                    background-image: url(/assets/images/inno/close_btn.png);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
            .modal-body {
                padding: 0;
            }
        }
    }
}

// 사업비전
.vision {
    .section-header {
        .summary {
            position: relative;
            display: inline-block;
            font-size: 18px;
            color: #555;
            line-height: 28px;
            font-weight: 400;
            span {
                position: absolute;
                display: inline-block;
                img {
                    width: 18px;
                    height: 13px;
                    @media(min-width: $sm) {
                        width: 25px;
                        height: 20px;
                    }
                }
                &.quotation-first {
                    top: -15px;
                    left: -30px;
                    @media(min-width: $sm) {
                        top: 10px;
                        left: -46px;
                    }
                    @media(min-width: $sm) {
                        left: -55px;
                    }
                }
                &.quotation-last {
                    right: -20px;
                    @media(min-width: $sm) {
                        top: 10px;
                        right: -46px;
                    }
                    @media(min-width: $sm) {
                        right: -55px;
                    }
                }
            }
            @media(min-width: $sm) {
                font-size: 24px;
                line-height: 38px;
            }
            @media(min-width: $md) {
                font-size: 26px;
            }
        }
    }
    .section-content {
        padding-bottom: 50px;
            padding-bottom: 80px;
        @media(min-width: $sm) {
            padding-bottom: 205px;
        }
        .figure {
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
}