@import 'common';

/* 이노서비스 lnb 공통 */
.inno {
    .lnb {
        .dropdown-menu {
            li {
                @media(min-width: $lg) {
                    width: 50%; 
                }
            }
        }
    }
}

// 홍보/영상
.promotional-info {
    #content {
        padding-bottom: 0;
    }
}
.promotional {
    .section-content {
        padding-bottom: 50px;
        @media(min-width: $sm) {
            padding-bottom: 80px;
        }
        @media(min-width: $lg) {
            padding-bottom: 110px;
        }
        ul {
            > li {
                a {
                    display: block;
                    max-width: 352px;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 40px;
                    @media(min-width: $sm) {
                        margin-bottom: 50px;
                    }
                    .figure {
                        position: relative;
                        width: 100%;
                        .img-responsive {
                            max-width: 352px;
                            width: 100%;
                            margin: 0 auto;
                        }
                        .hover-box {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            max-width: 352px;
                            height: 100%;
                            color: #fff;
                            text-align: center;
                            @include trans();
                            .play-icon {
                                display: inline-block;
                                width: 70px;
                                height: 70px;
                                position: relative;
                                top: 50%;
                                margin-top: -35px;
                                background-image: url(/assets/images/inno/play_icon.png);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                            }
                            &:hover {
                                
                            }
                        }
                    }
                    .figcaption {
                        padding-top: 25px;
                        h4 {
                            font-size: 14px;
                            color: #2b2b2b;
                            font-weight: 400;
                            margin-bottom: 10px;
                        }
                        .date {
                            font-size: 13px;
                            color: #999;
                            @include titi();
                        }
                        @media(min-width: $sm) {
                            h4 {
                                font-size: 16px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: none;
                        .figure {
                            .hover-box {
                                opacity: 1;
                                background-color: #f08501;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 20px;
            p {
                .btn-gray {
                    width: 300px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            @media(min-width: $sm) {
                margin-top: 30px;
                p {
                    .btn-gray {
                        width: 230px;
                    }
                }
            }
        }
    }
    .engineer {
        background-color: #f7f8f9;
        padding-bottom: 50px;
        @media(min-width: $sm) {
            padding-bottom: 80px;
        }
        @media(min-width: $lg) {
            padding-bottom: 110px;
        }
        .article-content {
            text-align: center;
        }
    }
}

// 모달 
.modal {
    padding-top: 25%;
    padding-right: 0 !important;
    background-color: rgba(0, 0, 0, .6);
    @media(min-width: $sm) {
        padding-top: 20%;
    }
    @media(min-width: $lg) {
        padding-top: 10%;
    }
    .modal-dialog {
        @media(min-width: $lg) {
            width: 770px;
        }
        .modal-content {
            box-shadow: none;
            border: 0;
            border-radius: 0;
            background: none;
            .modal-header {
                padding: 0;
                padding-bottom: 10px;
                border-bottom: 0;
                .close {
                    width: 30px;
                    height: 28px;
                    opacity: 1;
                    background-image: url(/assets/images/inno/close_btn.png);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
            .modal-body {
                padding: 0;
            }
        }
    }
}

// 사업비전
.vision {
    .section-header {
        .summary {
            position: relative;
            font-size: 18px;
            color: #555;
            line-height: 28px;
            font-weight: 400;
            @media(min-width: $sm) {
                font-size: 24px;
                line-height: 38px;
            }
            @media(min-width: $md) {
                font-size: 26px;
            }
        }
    }
    .section-content {
        padding-bottom: 50px;
        @media(min-width: $sm) {
            padding-bottom: 80px;
        }
        @media(min-width: $lg) {
            padding-bottom: 110px;
        }
        .figure {
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
}