@charset "UTF-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@media (min-width: 1280px) {
  .quotation .lnb .dropdown-menu li {
    width: 50%; } }

.schedule .section-content .table-wrap {
  position: relative; }
  .schedule .section-content .table-wrap .month {
    font-size: 26px;
    color: #595757;
    text-align: center;
    font-weight: bold;
    line-height: 42px;
    font-family: 'Titillium Web', sans-serif; }
    @media (min-width: 768px) {
      .schedule .section-content .table-wrap .month {
        font-size: 42px;
        line-height: 45px; } }
    @media (min-width: 1280px) {
      .schedule .section-content .table-wrap .month {
        font-size: 50px;
        line-height: 55px; } }
  .schedule .section-content .table-wrap .month-link {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden; }
    @media (min-width: 768px) {
      .schedule .section-content .table-wrap .month-link {
        line-height: 45px; } }
    @media (min-width: 1280px) {
      .schedule .section-content .table-wrap .month-link {
        line-height: 55px; } }
    .schedule .section-content .table-wrap .month-link a {
      display: inline-block;
      color: #aeaeaf; }
      .schedule .section-content .table-wrap .month-link a > p {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        vertical-align: middle; }
      .schedule .section-content .table-wrap .month-link a.pre-btn {
        float: left; }
        .schedule .section-content .table-wrap .month-link a.pre-btn:before {
          content: "\E809";
          font-size: 30px;
          font-family: "fontello"; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .month-link a.pre-btn:before {
              margin-right: 15px;
              vertical-align: middle; } }
      .schedule .section-content .table-wrap .month-link a.next-btn {
        float: right; }
        .schedule .section-content .table-wrap .month-link a.next-btn:after {
          content: "\E80A";
          font-size: 30px;
          font-family: "fontello"; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .month-link a.next-btn:after {
              margin-left: 15px;
              vertical-align: middle; } }
      .schedule .section-content .table-wrap .month-link a:hover, .schedule .section-content .table-wrap .month-link a:focus {
        text-decoration: none;
        color: #e10316; }
  .schedule .section-content .table-wrap .table-calendar {
    table-layout: fixed;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .schedule .section-content .table-wrap .table-calendar {
        margin-top: 40px; } }
    .schedule .section-content .table-wrap .table-calendar thead tr th {
      width: 20%;
      font-size: 13px;
      color: #333;
      font-weight: bold;
      font-family: 'Titillium Web', sans-serif;
      padding: 20px 0;
      border: 0;
      border-bottom: 1px solid #b7b7b7;
      background-color: #fff; }
      @media (min-width: 768px) {
        .schedule .section-content .table-wrap .table-calendar thead tr th {
          width: 14.28%;
          font-size: 15px; } }
      .schedule .section-content .table-wrap .table-calendar thead tr th:first-child {
        display: none; }
        @media (min-width: 768px) {
          .schedule .section-content .table-wrap .table-calendar thead tr th:first-child {
            display: table-cell; } }
      .schedule .section-content .table-wrap .table-calendar thead tr th:last-child {
        display: none; }
        @media (min-width: 768px) {
          .schedule .section-content .table-wrap .table-calendar thead tr th:last-child {
            display: table-cell; } }
    .schedule .section-content .table-wrap .table-calendar tbody {
      /*
          past: 오늘 이전의 모든 날들
          today: 오늘
          available: 예약가능
          impossible: 예약불가능
      */ }
      .schedule .section-content .table-wrap .table-calendar tbody tr td {
        padding: 10px 3px;
        text-align: left;
        vertical-align: top;
        width: 20%;
        height: 102px;
        background-color: #fff;
        background-clip: padding-box; }
        @media (min-width: 768px) {
          .schedule .section-content .table-wrap .table-calendar tbody tr td {
            width: 14.28%;
            height: 120px;
            padding: 20px 10px 0 10px; } }
        @media (min-width: 1280px) {
          .schedule .section-content .table-wrap .table-calendar tbody tr td {
            padding: 20px 20px 0; } }
        .schedule .section-content .table-wrap .table-calendar tbody tr td:first-child {
          display: none; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .table-calendar tbody tr td:first-child {
              display: table-cell; } }
        .schedule .section-content .table-wrap .table-calendar tbody tr td:last-child {
          display: none; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .table-calendar tbody tr td:last-child {
              display: table-cell; } }
        .schedule .section-content .table-wrap .table-calendar tbody tr td .day {
          font-weight: bold;
          display: block;
          font-size: 12px;
          color: #b5b6b6;
          font-family: 'Titillium Web', sans-serif;
          padding-left: 2px;
          margin-bottom: 5px; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .table-calendar tbody tr td .day {
              font-size: 14px;
              margin-bottom: 10px; } }
        .schedule .section-content .table-wrap .table-calendar tbody tr td .anniversary {
          display: block;
          position: relative;
          font-size: 10px;
          color: #666;
          line-height: 15px;
          font-weight: 300;
          padding-left: 7px; }
          .schedule .section-content .table-wrap .table-calendar tbody tr td .anniversary:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "·"; }
          @media (min-width: 768px) {
            .schedule .section-content .table-wrap .table-calendar tbody tr td .anniversary {
              font-size: 12px;
              line-height: 18px; } }
        .schedule .section-content .table-wrap .table-calendar tbody tr td.past {
          background-color: #f7f7f7; }
        .schedule .section-content .table-wrap .table-calendar tbody tr td.impossible {
          background-color: #f7f7f7; }
        .schedule .section-content .table-wrap .table-calendar tbody tr td.available .day {
          color: #555; }
        .schedule .section-content .table-wrap .table-calendar tbody tr td.today {
          position: relative; }
          .schedule .section-content .table-wrap .table-calendar tbody tr td.today .day {
            display: block;
            color: #555; }
          .schedule .section-content .table-wrap .table-calendar tbody tr td.today:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: " ";
            width: 100%;
            height: 101px;
            border: 1px solid #f08501; }
            @media (min-width: 768px) {
              .schedule .section-content .table-wrap .table-calendar tbody tr td.today:before {
                height: 119px; } }
  .schedule .section-content .table-wrap .square-list {
    text-align: right;
    font-size: 0;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .schedule .section-content .table-wrap .square-list {
        margin-top: 30px; } }
    .schedule .section-content .table-wrap .square-list li {
      display: inline-block;
      margin-right: 20px;
      font-size: 11px;
      color: #666; }
      @media (min-width: 768px) {
        .schedule .section-content .table-wrap .square-list li {
          font-size: 12px; } }
      .schedule .section-content .table-wrap .square-list li:before {
        display: inline-block;
        width: 13px;
        height: 13px;
        content: " ";
        margin-right: 5px;
        border: 1px solid #ef4600;
        vertical-align: middle;
        margin-top: -2px; }
      .schedule .section-content .table-wrap .square-list li:last-child {
        margin-right: 0; }
      .schedule .section-content .table-wrap .square-list li.today:before {
        border-color: #ef4600; }
      .schedule .section-content .table-wrap .square-list li.available:before {
        border-color: #ccc; }
      .schedule .section-content .table-wrap .square-list li.impossible:before {
        border-color: #dfdfdf;
        background-color: #dfdfdf; }

.write .section-header .page-title {
  line-height: 36px; }
.write .section-content .table-wrap .table-write tbody tr th {
  width: 30%; }
  @media (min-width: 768px) {
    .write .section-content .table-wrap .table-write tbody tr th {
      width: 24%; } }
  .write .section-content .table-wrap .table-write tbody tr th.content {
    padding-top: 23px;
    vertical-align: top; }
  .write .section-content .table-wrap .table-write tbody tr th.area {
    padding-top: 23px;
    vertical-align: top; }
    @media (min-width: 1280px) {
      .write .section-content .table-wrap .table-write tbody tr th.area {
        padding-top: 0;
        vertical-align: middle; } }
.write .section-content .table-wrap .table-write tbody tr td {
  width: 70%; }
  @media (min-width: 768px) {
    .write .section-content .table-wrap .table-write tbody tr td {
      width: 76%; } }
  @media (min-width: 1280px) {
    .write .section-content .table-wrap .table-write tbody tr td {
      padding-right: 30px; } }
  .write .section-content .table-wrap .table-write tbody tr td.file .form-group {
    position: relative;
    padding-right: 74px; }
    .write .section-content .table-wrap .table-write tbody tr td.file .form-group .form-control {
      width: 100%; }
    .write .section-content .table-wrap .table-write tbody tr td.file .form-group label {
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 40px;
      font-size: 13px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background-color: #aeaeaf; }
      .write .section-content .table-wrap .table-write tbody tr td.file .form-group label:hover {
        cursor: pointer; }
    @media (min-width: 768px) {
      .write .section-content .table-wrap .table-write tbody tr td.file .form-group {
        padding-right: 156px; }
        .write .section-content .table-wrap .table-write tbody tr td.file .form-group label {
          width: 136px;
          font-size: 15px; } }
  @media (min-width: 768px) {
    .write .section-content .table-wrap .table-write tbody tr td.subject .form-group .form-control {
      width: 100%; } }
  .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group {
    overflow: hidden;
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 10px; }
    .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group:last-child {
      margin-right: 0; }
    @media (min-width: 1280px) {
      .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group:nth-of-type(2) {
        width: 220px; }
        .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group:nth-of-type(2) label {
          width: 80px; } }
    @media (min-width: 1280px) {
      .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group {
        width: 200px;
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 0; } }
    .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group label {
      float: left;
      width: 35%;
      height: 40px;
      font-size: 14px;
      color: #333;
      line-height: 40px;
      opacity: .5; }
      @media (min-width: 768px) {
        .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group label {
          width: 80px;
          font-size: 15px; } }
      @media (min-width: 1280px) {
        .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group label {
          width: 60px; } }
    .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group .form-control {
      float: left;
      width: 65%; }
      @media (min-width: 768px) {
        .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group .form-control {
          width: 270px; } }
      @media (min-width: 1280px) {
        .write .section-content .table-wrap .table-write tbody tr td.hope-area .form-group .form-control {
          width: 140px; } }
  .write .section-content .table-wrap .table-write tbody tr td .form-group textarea {
    height: 285px; }
    @media (min-width: 768px) {
      .write .section-content .table-wrap .table-write tbody tr td .form-group textarea {
        width: 100%;
        height: 255px; } }
.write .section-content .btn-area {
  margin-top: 30px; }
  .write .section-content .btn-area p .btn {
    width: 145px;
    margin: 0; }
    .write .section-content .btn-area p .btn:first-child {
      margin-right: 10px; }
      @media (min-width: 768px) {
        .write .section-content .btn-area p .btn:first-child {
          margin-right: 30px; } }
    @media (min-width: 768px) {
      .write .section-content .btn-area p .btn {
        width: 170px; } }
  @media (min-width: 768px) {
    .write .section-content .btn-area {
      margin-top: 50px; } }
  @media (min-width: 1280px) {
    .write .section-content .btn-area {
      margin-top: 60px; } }

.quote-list .section-header .page-title {
  line-height: 36px; }
.quote-list .section-content .search-form {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .quote-list .section-content .search-form {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .quote-list .section-content .search-form {
      margin-bottom: 30px; } }
.quote-list .section-content .btn-area {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .quote-list .section-content .btn-area {
      text-align: right; } }
  .quote-list .section-content .btn-area p .btn-orange {
    width: 300px; }
    @media (min-width: 768px) {
      .quote-list .section-content .btn-area p .btn-orange {
        width: 170px; } }
.quote-list .section-content .paging {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .quote-list .section-content .paging {
      margin-top: 35px; } }
  @media (min-width: 1280px) {
    .quote-list .section-content .paging {
      margin-top: 40px; } }

.quote-view .section-header .page-title {
  line-height: 36px; }
.quote-view .section-content .reaction-view .content {
  overflow: hidden; }
  .quote-view .section-content .reaction-view .content:after {
    content: " ";
    display: inline-block;
    clear: both; }
  .quote-view .section-content .reaction-view .content .list-info {
    float: right;
    text-align: left; }
    .quote-view .section-content .reaction-view .content .list-info li {
      display: inline-block; }
      .quote-view .section-content .reaction-view .content .list-info li:last-child {
        margin-top: 10px;
        display: block; }
        @media (min-width: 768px) {
          .quote-view .section-content .reaction-view .content .list-info li:last-child {
            display: inline-block;
            margin-top: 0; }
            .quote-view .section-content .reaction-view .content .list-info li:last-child:before {
              display: inline-block;
              content: "|";
              font-size: 10px;
              color: #cbcbcb;
              padding: 0 10px;
              vertical-align: top;
              margin-top: 1px; } }
      .quote-view .section-content .reaction-view .content .list-info li i {
        font-size: 13px;
        margin-right: 5px; }
  .quote-view .section-content .reaction-view .content .view-content {
    clear: both; }
.quote-view .reply {
  border-top: 1px solid #595757;
  border-bottom: 1px solid #595757; }
  @media (min-width: 768px) {
    .quote-view .reply {
      padding: 40px 0; } }
  .quote-view .reply .logo {
    padding: 30px 0;
    text-align: left; }
    .quote-view .reply .logo .img-responsive {
      display: inline-block; }
    @media (min-width: 768px) {
      .quote-view .reply .logo {
        text-align: center;
        padding: 0; } }
  .quote-view .reply .adm-reply {
    font-size: 13px;
    color: #555;
    line-height: 22px;
    font-weight: 300;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .quote-view .reply .adm-reply {
        padding: 0;
        font-size: 15px;
        line-height: 28px;
        padding-right: 30px; } }
.quote-view .btn-area {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .quote-view .btn-area {
      text-align: right; }
      .quote-view .btn-area p .btn-orange {
        width: 170px; } }

/*# sourceMappingURL=quotation.css.map */
