@import 'common';

.quotation {
    .lnb {
        .dropdown-menu {
            li {
                @media(min-width: $lg) {
                    width: 50%;
                }
            }
        }
    }
}

// RBDS 가능 일정보기
.schedule {
    .section-content {
        .table-wrap {
            position: relative;
            .month {
                font-size: 26px;
                color: #595757;
                text-align: center;
                font-weight: bold;
                line-height: 42px;
                @include titi();
                @media(min-width: $sm) {
                    font-size: 42px;
                    line-height: 45px;
                }
                @media(min-width: $lg) {
                    font-size: 50px;
                    line-height: 55px;
                }
            }
            .month-link {
                position: absolute;
                top: 0;
                width: 100%;
                overflow: hidden;
                @media(min-width: $sm) {
                    line-height: 45px;
                }
                @media(min-width: $lg) {
                    line-height: 55px;
                }
                a {
                    display: inline-block;
                    color: #aeaeaf;
                    > p {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 400;
                        vertical-align: middle;
                    }
                    &.pre-btn {
                        float: left;
                        &:before {
                            content: "\E809";
                            font-size: 30px;
                            font-family: "fontello";
                            @media(min-width: $sm) {
                                margin-right: 15px;
                                vertical-align: middle;
                            }
                        }
                    }
                    &.next-btn {
                        float: right;
                        &:after {
                            content: "\E80A";
                            font-size: 30px;
                            font-family: "fontello";
                            @media(min-width: $sm) {
                                margin-left: 15px;
                                vertical-align: middle;
                            }
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: none;
                        color: #e10316;
                    }
                }
            }
            .table-calendar {
                table-layout: fixed;
                margin-top: 20px;
                @media(min-width: $sm) {
                    margin-top: 40px;
                }
                thead {
                    tr {
                        th {
                            width: 20%;
                            font-size: 13px;
                            color: #333;
                            font-weight: bold;
                            @include titi();
                            padding: 20px 0;
                            border: 0;
                            border-bottom: 1px solid #b7b7b7;
                            background-color: #fff;
                            @media(min-width: $sm) {
                                width: 14.28%;
                                font-size: 15px;
                            }
                            &:first-child {
                                display: none;
                                @media(min-width: $sm) {
                                    display: table-cell;
                                }
                            }
                            &:last-child {
                                display: none;
                                @media(min-width: $sm) {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
                tbody {
                    /*
                        past: 오늘 이전의 모든 날들
                        today: 오늘
                        available: 예약가능
                        impossible: 예약불가능
                    */
                    tr {
                        td {
                            padding: 10px 3px;
                            text-align: left;
                            vertical-align: top;
                            width: 20%;
                            height: 102px;
                            background-color: #fff;
                            background-clip: padding-box;
                            @media(min-width: $sm) {
                                width: 14.28%;
                                height: 120px;
                                padding: 20px 10px 0 10px;
                            }
                            @media(min-width: $lg) {
                                padding: 20px 20px 0;
                            }
                            &:first-child {
                                display: none;
                                @media(min-width: $sm) {
                                    display: table-cell;
                                }
                            }
                            &:last-child {
                                display: none;
                                @media(min-width: $sm) {
                                    display: table-cell;
                                }
                            }
                            .day {
                                font-weight: bold;
                                display: block;
                                font-size: 12px;
                                color: #b5b6b6;
                                @include titi();
                                padding-left: 2px;
                                margin-bottom: 5px;
                                @media(min-width: $sm) {
                                    font-size: 14px;
                                    margin-bottom: 10px;
                                }
                            }
                            .anniversary {
                                display: block;
                                position: relative;
                                font-size: 10px;
                                color: #666;
                                line-height: 15px;
                                font-weight: 300;
                                padding-left: 7px;
                                &:before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    content: "·";
                                }
                                @media(min-width: $sm) {
                                    font-size: 12px;
                                    line-height: 18px;
                                }
                            }
                            &.past {
                                background-color: #f7f7f7;
                            }
                            &.impossible {
                                background-color: #f7f7f7;
                            }
                            &.available {
                                .day {
                                    color: #555;
                                }
//                                &:hover, &:focus {
//                                    cursor: pointer;
//                                }
                            }
                            &.today {
                                position: relative;
                                .day {
                                    display: block;
                                    color: #555;
                                }
                                &:before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    display: block;
                                    content: " ";
                                    width: 100%;
                                    height: 101px;
                                    border: 1px solid #f08501;
                                    @media(min-width: $sm) {
                                        height: 119px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .square-list {
                text-align: right;
                font-size: 0;
                margin-top: 20px;
                @media(min-width: $sm) {
                    margin-top: 30px;
                }
                li {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 11px;
                    color: #666;
                    @media(min-width: $sm) {
                        font-size: 12px;
                    }
                    &:before {
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        content: " ";
                        margin-right: 5px;
                        border: 1px solid #ef4600;
                        vertical-align: middle;
                        margin-top: -2px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.today {
                        &:before {
                            border-color: #ef4600;
                        }
                    }
                    &.available {
                        &:before {
                            border-color: #ccc;
                        }
                    }
                    &.impossible {
                        &:before {
                            border-color: #dfdfdf;
                            background-color: #dfdfdf;
                        }
                    }
                }
            }
        }
    }
}

// 과산화수소 증기멸균 대행 서비스 견적문의 
.write {
    .section-header {
        .page-title {
            line-height: 36px;
        }
    }
    .section-content {
        .table-wrap {
            .table-write {
                tbody {
                    tr {
                        th {
                            width: 30%;
                            @media(min-width: $sm) {
                                width: 24%;
                            }
                            &.content {
                                padding-top: 23px;
                                vertical-align: top;
                            }
                            &.area {
                                padding-top: 23px;
                                vertical-align: top;
                                @media(min-width: $lg) {
                                    padding-top: 0;
                                    vertical-align: middle;
                                }
                            }
                        }
                        td {
                            width: 70%;
                            @media(min-width: $sm) {
                                width: 76%;
                            }
                            @media(min-width: $lg) {
                                padding-right: 30px;
                            }
                            &.file {
                                .form-group {
                                    position: relative;
                                    padding-right: 74px;
                                    .form-control {
                                        width: 100%;
                                    }
                                    label {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        width: 64px;
                                        height: 40px;
                                        font-size: 13px;
                                        color: #fff;
                                        line-height: 40px;
                                        text-align: center;
                                        background-color: #aeaeaf;
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                    @media(min-width: $sm) {
                                        padding-right: 156px;
                                        label {
                                            width: 136px;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                            &.subject {
                                .form-group {
                                    .form-control {
                                        @media(min-width: $sm) {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            &.hope-area {
                                .form-group {
                                    overflow: hidden;
                                    display: block;
                                    width: 100%;
                                    vertical-align: middle;
                                    margin-bottom: 10px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                    &:nth-of-type(2) {
                                        @media(min-width: $lg) {
                                            width: 220px;
                                            label {
                                                width: 80px;
                                            }
                                        }
                                    }
                                    @media(min-width: $lg) {
                                        width: 200px;
                                        display: inline-block;
                                        margin-right: 50px;
                                        margin-bottom: 0;
                                    }
                                    label {
                                        float: left;
                                        width: 35%;
                                        height: 40px;
                                        font-size: 14px;
                                        color: #333;
                                        line-height: 40px;
                                        opacity: .5;
                                        @media(min-width: $sm) {
                                            width: 80px;
                                            font-size: 15px;
                                        }
                                        @media(min-width: $lg) {
                                            width: 60px;
                                        }
                                    }
                                    .form-control {
                                        float: left;
                                        width: 65%;
                                        @media(min-width: $sm) {
                                            width: 270px;
                                        }
                                        @media(min-width: $lg) {
                                            width: 140px;
                                        }
                                    }
                                }
                            }
                            .form-group {
                                textarea {
                                    height: 285px;
                                    @media(min-width: $sm) {
                                        width: 100%;
                                        height: 255px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            p {
                .btn {
                    width: 145px;
                    margin: 0;
                    &:first-child {
                        margin-right: 10px;
                        @media(min-width: $sm) {
                            margin-right: 30px;
                        }
                    }
                    @media(min-width: $sm) {
                        width: 170px;
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 50px;
            }
            @media(min-width: $lg) {
                margin-top: 60px;
            }
        }
    }
}

// 과산화수소 증기멸균 대행 서비스 견적문의 리스트
.quote-list {
    .section-header {
        .page-title {
            line-height: 36px;
        }
    }
    .section-content {
        .search-form {
            margin-bottom: 30px;
            @media(min-width: $sm) {
                margin-bottom: 50px;
            }
            @media(min-width: $md) {
                margin-bottom: 30px;
            }
        }
        .btn-area {
            margin-top: 40px;
            @media(min-width: $sm) {
                text-align: right;
            }
            p {
                .btn-orange {
                    width: 300px;
                    @media(min-width: $sm) {
                        width: 170px;
                    }
                }
            }
        }
        .paging {
            margin-top: 40px;
            @media(min-width: $sm) {
                margin-top: 35px;
            }
            @media(min-width: $lg) {
                margin-top: 40px;
            }
        }
    }
}

// 과산화수소 증기멸균 대행 서비스 견적문의 뷰 
.quote-view {
    .section-header {
        .page-title {
            line-height: 36px;
        }
    }
    .section-content {
        .reaction-view {
            .content {
                overflow: hidden;
                &:after {
                    content: " ";
                    display: inline-block;
                    clear: both;
                }
                .list-info {
                    float: right;
                    text-align: left;
                    li {
                        display: inline-block;
                        &:last-child {
                            margin-top: 10px;
                            display: block;
                            @media(min-width: $sm) {
                                display: inline-block;
                                margin-top: 0;
                                &:before {
                                    display: inline-block;
                                    content: "|";
                                    font-size: 10px;
                                    color: #cbcbcb;
                                    padding: 0 10px;
                                    vertical-align: top;
                                    margin-top: 1px;
                                }
                            }
                        }
                        i {
                            font-size: 13px;
                            margin-right: 5px;
                        }
                    }
                }
                .view-content {
                    clear: both;
                }
            }
        }
    }
    .reply {
        border-top: 1px solid #595757;
        border-bottom: 1px solid #595757;
        @media(min-width: $sm) {
            padding: 40px 0;
        }
        .logo {
            padding: 30px 0;
            text-align: left;
            .img-responsive {
                display: inline-block;
            }
            @media(min-width: $sm) {
                text-align: center;
                padding: 0;
            }
        }
        .adm-reply {
            font-size: 13px;
            color: #555;
            line-height: 22px;
            font-weight: 300;
            padding-bottom: 30px;
            @media(min-width: $sm) {
                padding: 0;
                font-size: 15px;
                line-height: 28px;
                padding-right: 30px;
            }
        }
    }
    .btn-area {
        margin-top: 40px;
        @media(min-width: $sm) {
            text-align: right;
            p {
                .btn-orange {
                    width: 170px;
                }
            }
        }
    }
}


