@import 'common';

.sub {
    main {
        padding-bottom: 60px;
        @media(min-width: $sm) {
            padding-bottom: 100px;
        }
        @media(min-width: $lg) {
            padding-bottom: 150px;
        }
    }
    .style-title {
        font-size: 20px;
        color: #555;
        margin-top: 40px;
        margin-bottom: 20px;
        @media(min-width: $sm) {
            font-size: 25px;
            margin-bottom: 30px;
        }
    }
}
.form-group {
    margin: 0;
}
.form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    &:hover, &:focus {
        box-shadow: none;
    }
    @media(min-width: $sm) {
        width: 270px;
    }
}
label {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
    @media(min-width: $sm) {
        font-size: 15px;
    }
}
button {
    padding: 0;
    border: 0;
    background: none;
}

// 원형 숫자
.circle-num {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    @include titi();
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: top;
}

// 배경색 옵션
.or {
    background-color: #f08501;
}
.re {
    background-color: #e10013;
}
.bl {
    background-color: #444da1;
}

// 페이지 헤더
.page-header {
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
    background-image: url(/assets/images/sub/sub_visual_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media(min-width: $lg) {
        background-size: cover;
    }
    .page-info {
        padding: 36px 0;
        position: relative;
        @media(min-width: $sm) {
            padding: 45px 0 39px;
        }
        @media(min-width: $lg) {
            padding: 92px 0 71px;
        }
        h2 {
            font-size: 65px;
            color: #fff;
            font-weight: bold;
            text-shadow: 0px 0px 10px #999;
            @include maven();
        }
        > p {
            font-size: 18px;
            color: #fff;
            font-weight: 300;
            @media(min-width: $sm) {
                margin-top: 10px;
            }
            @media(min-width: $lg) {
                font-size: 20px;
            }
        }
        .btn-link-area {
            position: absolute;
            top: 0;
            width: 100%;
            padding: 0 10px;
            @media(min-width: $lg) {
                width: 1170px;
                left: 50%;
                padding: 0;
                margin-left: -585px;
            }
            .btn-link {
                display: block;
                line-height: 97px;
                @media(min-width: $sm) {
                    line-height: 190px;
                }
                @media(min-width: $lg) {
                    line-height: 272px;
                }
                img {
                    display: inline-block;
                    width: 12px;
                    height: auto;
                    @media(min-width: $sm) {
                        width: 34px;
                    }
                }
                &.pre-btn {
                    float: left;
                }
                &.next-btn {
                    float: right;
                }
            }
        }
    }
    .lnb {
        @media(min-width: $lg) {
            width: 1170px;
            height: 64px;
            margin: 0 auto;
        }
        .btn {
            position: relative;
            width: 100%;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: #e10013;
            background-color: rgba(255, 255, 255, .95);
            @media(min-width: $sm) {
                font-size: 15px;
                height: 55px;
            }
            @media(min-width: $lg) {
                display: none;
            }
            &:focus {
                color: #e10013;
                background-color: rgba(255, 255, 255, .95);
            }
            .more-icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                font-style: normal;
                line-height: 40px;
                background-color: #f08501;
                &:after {
                    font-size: 16px;
                    color: #fff;
                    content: "\F107";
                    font-family: "fontello";
                    @media(min-width: $sm) {
                        font-size: 20px;
                    }
                }
                @media(min-width: $sm) {
                    width: 64px;
                    height: 55px;
                    line-height: 55px;
                }
            }
        }
        .dropdown-menu {
            width: 100%;
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            li {
                text-align: center;
                border-bottom: 1px solid #ccc;
                background-color: rgba(235, 235, 235, .95);
                a {
                    font-size: 13px;
                    color: #333;
                    font-weight: 400;
                    line-height: 40px;
                    padding: 0;
                    &:hover {
                        background: none;
                    }
                    @media(min-width: $sm) {
                        font-size: 15px;
                        line-height: 55px;
                    }
                }
                &.active {
                    a {
                        color: #e10013;
                        background-color: rgba(235, 235, 235, .95);
                        &:hover, &:focus {
                            
                        }
                    }
                }
            }
            @media(min-width: $lg) {
                display: block;
                top: 0;
                font-size: 0;
                li {
                    width: 50%;
                    display: inline-block;
                    border-right: 1px solid #e2e2e2;
                    &:last-child {
                        border-right: 0;
                    }
                    &.active {
                        a {
                            background-color: rgba(255, 255, 255, .95);
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    a {
                        height: 64px;
                        font-size: 15px;
                        line-height: 64px;
                        background-color: rgba(255, 255, 255, .95);
                        @include trans();
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
        &.open {
            border-bottom: 0;
            .btn {
                .more-icon {
                    &:after {
                        content: "\F106";
                    }
                }
            }
        }
    }
}


// 페이지 Title 및 article 타이틀
.section-header {
    text-align: center;
    padding: 55px 0 60px;
    @media(min-width: $sm) {
        padding: 80px 0 65px;
    }
    @media(min-width: $lg) {
        padding: 110px 0;
    }
    .page-title {
        font-size: 25px;
        color: #2b2b2b;
        font-weight: 300;
        @media(min-width: $sm) {
            font-size: 30px;
        }
        @media(min-width: $lg) {
            font-size: 45px;
        }
    }
    .summary {
        font-size: 14px;
        color: #2b2b2b;
        font-weight: 300;
        line-height: 25px;
        margin-top: 35px;
        @media(min-width: $sm) {
            font-size: 20px;
            line-height: 30px;
            margin-top: 50px;
        }
        @media(min-width: $lg) {
            margin-top: 70px;
        }
    }
}
.article-header{
    text-align: center;
    padding: 60px 0 40px;
    @media(min-width: $sm) {
        padding: 110px 0 60px;
    }
    .content-title {
        font-size: 20px;
        color: #2b2b2b;
        font-weight: 300;
        @media(min-width: $sm) {
            font-size: 30px;
        }
    }
    hr {
        width: 30px;
        display: inline-block;
        margin: 0;
        margin-top: 25px;
        border-top: 3px solid #e10013;
        @media(min-width: $sm) {
            margin-top: 30px;
        }
    }
    .summary {
        font-size: 13px;
        color: #555;
        font-weight: 300;
        line-height: 24px;
        margin-top: 18px;
        @media(min-width: $sm) {
            font-size: 14px;
            line-height: 28px;
            margin-top: 20px;
        }
        @media(min-width: $lg) {
            font-size: 16px;
            line-height: 30px;
            margin-top: 35px;
        }
        .or-txt {
            color: #f08501;
            font-style: normal;
        }
    }
}

// 탭 리스트
.nav-tabs {
    border: 0;
    > ul {
        font-size: 0;
        > li {
            display: inline-block;
            width: 50%;
            border: 1px solid #dfdfdf;
            border-right: 0;
            &:nth-of-type(2n + 2) {
                border-right: 1px solid #dfdfdf;
            }
            &:nth-of-type(3) {
                border-top: 0;
            }
            &:nth-of-type(4) {
                border-top: 0;
            }
            &.active {
                border-color: #f0840c;
                background-color: #f0840c;
                a {
                    color: #fff;
                }
            }
            @media(min-width: $sm) {
                width: 25%;
                &:nth-of-type(2n + 2) {
                    border-right: 0;
                }
                &:nth-of-type(3) {
                    border-top: 1px solid #dfdfdf;
                }
                &:nth-of-type(4) {
                    border-top: 1px solid #dfdfdf;
                }
                &:last-child {
                    border-right: 1px solid #dfdfdf;
                }
            }
            a {
                display: block;
                height: 45px;
                font-size: 13px;
                color: #2b2b2b;
                font-weight: 300;
                text-align: center;
                line-height: 43px;
                &:hover {
                    text-decoration: none;
                }
                @media(min-width: $sm) {
                    font-size: 14px;
                }
                @media(min-width: $lg) {
                    font-size: 15px;
                }
            }
        }
    }
}

// 검색폼
.search-form {
    text-align: center;
    font-size: 0;
    select {
        display: inline-block;
        width: 110px;
        height: 35px;
        font-size: 14px;
        font-weight: 300;
        vertical-align: top;
        margin-right: 10px;
        @media(min-width: $sm) {
            width: 130px;
            height: 40px;
            font-size: 15px;
            margin-right: 20px;
        }
    }
    .form-group {
        position: relative;
        width: 180px;
        display: inline-block;
        
        z-index: 1;
        
        @media(min-width: $sm) {
            width: 350px;
        }
        .form-control {
            height: 35px;
            font-size: 14px;
            vertical-align: top;
            padding-right: 35px;
            @media(min-width: $sm) {
                width: 100%;
                height: 40px;
                font-size: 15px;
            }
        }
        .btn-search {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 33px;
            height: 33px;
            @media(min-width: $sm) {
                width: 38px;
                height: 38px;
            }
            @media(min-width: $lg) {
                @include trans();
                &:hover {
                    opacity: .5;
                }
            }
            .icon-search {
                font-size: 15px;
                color: #e10316;
            }
        }
    }
}

// 테이블
.table-wrap {
    .table {
        margin-bottom: 0;
        border-top: 3px solid #e40009;
        thead {
            tr {
                th {
                    font-size: 14px;
                    color: #333;
                    font-weight: 400;
                    vertical-align: middle;
                    padding: 23px 0;
                    border: 0;
                    border-bottom: 1px solid #dfdfdf;
                    background-color: #f8f8f8;
                    @media(min-width: $sm) {
                        font-size: 15px;
                    }
                }
            }
        }
        tbody {
            tr {
                th {
                    font-size: 14px;
                    color: #333;
                    font-weight: 400;
                    vertical-align: middle;
                    border: 0;
                    padding-left: 10px;
                    border-bottom: 1px solid #dfdfdf;
                    background-color: #f8f8f8;
                    @media(min-width: $sm) {
                        font-size: 15px;
                        padding-left: 30px;
                    }
                }
                td {
                    font-size: 14px;
                    color: #555;
                    font-weight: 300;
                    vertical-align: middle;
                    padding: 23px 10px;
                    border: 0;
                    border-bottom: 1px solid #dfdfdf;
                    @media(min-width: $sm) {
                        font-size: 15px;
                        padding-left: 40px;
                    }
                    @media(min-width: $md) {
                        padding-left: 30px;
                    }
                }
            }
        }
        &.table-write {
            tbody {
                tr {
                    td {
                        padding: 10px;
                        padding-right: 0;
                        @media(min-width: $sm) {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
        &.table-bordered {
            border-left: 0;
            border-right: 0;
            thead {
                tr {
                    th {
                        text-align: center;
                        border-right: 1px solid #dfdfdf;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        border-right: 1px solid #dfdfdf;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

// 리스트 타입
.decimal-list {
    .list-title {
        width: 300px;
        margin: 0 auto;
        font-size: 15px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        line-height: 50px;
        @media(min-width: $sm) {
            width: 100%;
            height: 60px;
            font-size: 16px;
            line-height: 60px;
        }
        @media(min-width: $lg) {
            font-size: 17px;
        }
    }
    .decimal-li {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 20px 30px;
        border: 1px solid #ccc;
        border-top: 0;
        @media(min-width: $sm) {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @media(min-width: $lg) {
            padding-left: 50px;
            padding-right: 50px;
        }
        li {
            font-size: 13px;
            color: #555;
            vertical-align: middle;
            line-height: 20px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            @media(min-width: $sm) {
                font-size: 14px;
            }
            @media(min-width: $lg) {
                font-size: 15px;
            }
        }
    }
}

// 버튼 목록 및 종류
.sub {
    main {
        .btn {
            display: inline-block;
            width: 90px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            padding: 0;
            border: 0;
            border-radius: 0;
            &.btn-orange {
                background-color: #f08501;
            }
            &.btn-gray {
                background-color: #595757;
            }
            @media(min-width: $sm) {
                font-size: 15px;
                width: 120px;
                height: 45px;
                line-height: 45px;
            }
            @media(min-width: $lg) {
                @include trans();
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.btn-area {
    text-align: center;
    p {
        font-size: 0;
        .btn {
            color: #fdfdfd;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            @media(min-width: $sm) {
                margin-right: 10px;
            }
        }
    }
}

// 페이징 
.paging {
    text-align: center;
    .pagination {
        margin: 0;
        border-radius: 0;
        li {
            a {
                font-size: 18px;
                text-align: center;
                color: #aeaeaf;
                @include titi();
                padding: 0 11px;
                border: 0;
                border-radius: 0;
                &:hover {
                    background: none;
                }
            }
            &.active {
                a {
                    position: relative;
                    font-weight: bold;
                    color: #e10013;
                    background: none;
                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        margin-left: -6px;
                        content: "";
                        width: 14px;
                        border-bottom: 1px solid #e10013;
                    }
                }
            }
            &.stp {
                a {
                    padding: 0
                }
            }
            &.stm-right {
                a {
                    margin-right: 15px;
                }
            }
            &.stm-left {
                a {
                    margin-left: 15px;
                }
            }
        }
    }
}