@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.sub main {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .sub main {
      padding-bottom: 100px; } }
  @media (min-width: 1280px) {
    .sub main {
      padding-bottom: 150px; } }
.sub .style-title {
  font-size: 20px;
  color: #555;
  margin-top: 40px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .sub .style-title {
      font-size: 25px;
      margin-bottom: 30px; } }

.form-group {
  margin: 0; }

.form-control {
  width: 100%;
  height: 40px;
  border-radius: 0;
  box-shadow: none; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }
  @media (min-width: 768px) {
    .form-control {
      width: 270px; } }

label {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    label {
      font-size: 15px; } }

button {
  padding: 0;
  border: 0;
  background: none; }

.circle-num {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: top; }

.or {
  background-color: #f08501; }

.re {
  background-color: #e10013; }

.bl {
  background-color: #444da1; }

.page-header {
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
  background-image: url(/assets/images/sub/sub_visual_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  @media (min-width: 1280px) {
    .page-header {
      background-size: cover; } }
  .page-header .page-info {
    padding: 36px 0;
    position: relative; }
    @media (min-width: 768px) {
      .page-header .page-info {
        padding: 45px 0 39px; } }
    @media (min-width: 1280px) {
      .page-header .page-info {
        padding: 92px 0 71px; } }
    .page-header .page-info h2 {
      font-size: 65px;
      color: #fff;
      font-weight: bold;
      text-shadow: 0px 0px 10px #999;
      font-family: 'Maven Pro', sans-serif; }
    .page-header .page-info > p {
      font-size: 18px;
      color: #fff;
      font-weight: 300; }
      @media (min-width: 768px) {
        .page-header .page-info > p {
          margin-top: 10px; } }
      @media (min-width: 1280px) {
        .page-header .page-info > p {
          font-size: 20px; } }
    .page-header .page-info .btn-link-area {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0 10px; }
      @media (min-width: 1280px) {
        .page-header .page-info .btn-link-area {
          width: 1170px;
          left: 50%;
          padding: 0;
          margin-left: -585px; } }
      .page-header .page-info .btn-link-area .btn-link {
        display: block;
        line-height: 97px; }
        @media (min-width: 768px) {
          .page-header .page-info .btn-link-area .btn-link {
            line-height: 190px; } }
        @media (min-width: 1280px) {
          .page-header .page-info .btn-link-area .btn-link {
            line-height: 272px; } }
        .page-header .page-info .btn-link-area .btn-link img {
          display: inline-block;
          width: 12px;
          height: auto; }
          @media (min-width: 768px) {
            .page-header .page-info .btn-link-area .btn-link img {
              width: 34px; } }
        .page-header .page-info .btn-link-area .btn-link.pre-btn {
          float: left; }
        .page-header .page-info .btn-link-area .btn-link.next-btn {
          float: right; }
  @media (min-width: 1280px) {
    .page-header .lnb {
      width: 1170px;
      height: 64px;
      margin: 0 auto; } }
  .page-header .lnb .btn {
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 40px;
    font-weight: 400;
    color: #e10013;
    background-color: rgba(255, 255, 255, 0.95); }
    @media (min-width: 768px) {
      .page-header .lnb .btn {
        font-size: 15px;
        height: 55px; } }
    @media (min-width: 1280px) {
      .page-header .lnb .btn {
        display: none; } }
    .page-header .lnb .btn:focus {
      color: #e10013;
      background-color: rgba(255, 255, 255, 0.95); }
    .page-header .lnb .btn .more-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      font-style: normal;
      line-height: 40px;
      background-color: #f08501; }
      .page-header .lnb .btn .more-icon:after {
        font-size: 16px;
        color: #fff;
        content: "\F107";
        font-family: "fontello"; }
        @media (min-width: 768px) {
          .page-header .lnb .btn .more-icon:after {
            font-size: 20px; } }
      @media (min-width: 768px) {
        .page-header .lnb .btn .more-icon {
          width: 64px;
          height: 55px;
          line-height: 55px; } }
  .page-header .lnb .dropdown-menu {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none; }
    .page-header .lnb .dropdown-menu li {
      text-align: center;
      border-bottom: 1px solid #ccc;
      background-color: rgba(235, 235, 235, 0.95); }
      .page-header .lnb .dropdown-menu li a {
        font-size: 13px;
        color: #333;
        font-weight: 400;
        line-height: 40px;
        padding: 0; }
        .page-header .lnb .dropdown-menu li a:hover {
          background: none; }
        @media (min-width: 768px) {
          .page-header .lnb .dropdown-menu li a {
            font-size: 15px;
            line-height: 55px; } }
      .page-header .lnb .dropdown-menu li.active a {
        color: #e10013;
        background-color: rgba(235, 235, 235, 0.95); }
    @media (min-width: 1280px) {
      .page-header .lnb .dropdown-menu {
        display: block;
        top: 0;
        font-size: 0; }
        .page-header .lnb .dropdown-menu li {
          width: 50%;
          display: inline-block;
          border-right: 1px solid #e2e2e2; }
          .page-header .lnb .dropdown-menu li:last-child {
            border-right: 0; }
          .page-header .lnb .dropdown-menu li.active a {
            background-color: rgba(255, 255, 255, 0.95); }
            .page-header .lnb .dropdown-menu li.active a:hover {
              opacity: 1; }
          .page-header .lnb .dropdown-menu li a {
            height: 64px;
            font-size: 15px;
            line-height: 64px;
            background-color: rgba(255, 255, 255, 0.95);
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .page-header .lnb .dropdown-menu li a:hover {
              opacity: .8; } }
  .page-header .lnb.open {
    border-bottom: 0; }
    .page-header .lnb.open .btn .more-icon:after {
      content: "\F106"; }

.section-header {
  text-align: center;
  padding: 55px 0 60px; }
  @media (min-width: 768px) {
    .section-header {
      padding: 80px 0 65px; } }
  @media (min-width: 1280px) {
    .section-header {
      padding: 110px 0; } }
  .section-header .page-title {
    font-size: 25px;
    color: #2b2b2b;
    font-weight: 300; }
    @media (min-width: 768px) {
      .section-header .page-title {
        font-size: 30px; } }
    @media (min-width: 1280px) {
      .section-header .page-title {
        font-size: 45px; } }
  .section-header .summary {
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 300;
    line-height: 25px;
    margin-top: 35px; }
    @media (min-width: 768px) {
      .section-header .summary {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px; } }
    @media (min-width: 1280px) {
      .section-header .summary {
        margin-top: 70px; } }

.article-header {
  text-align: center;
  padding: 60px 0 40px; }
  @media (min-width: 768px) {
    .article-header {
      padding: 110px 0 60px; } }
  .article-header .content-title {
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 300;
    line-height: 30px; }
    @media (min-width: 768px) {
      .article-header .content-title {
        font-size: 30px; } }
  .article-header hr {
    width: 30px;
    display: inline-block;
    margin: 0;
    margin-top: 25px;
    border-top: 3px solid #e10013; }
    @media (min-width: 768px) {
      .article-header hr {
        margin-top: 30px; } }
  .article-header .summary {
    font-size: 13px;
    color: #555;
    font-weight: 300;
    line-height: 24px;
    margin-top: 18px; }
    @media (min-width: 768px) {
      .article-header .summary {
        font-size: 14px;
        line-height: 28px;
        margin-top: 20px; } }
    @media (min-width: 1280px) {
      .article-header .summary {
        font-size: 16px;
        line-height: 30px;
        margin-top: 35px; } }
    .article-header .summary .or-txt {
      color: #f08501;
      font-style: normal; }

.nav-tabs {
  border: 0; }
  .nav-tabs > ul {
    font-size: 0; }
    .nav-tabs > ul > li {
      display: inline-block;
      width: 50%;
      border: 1px solid #dfdfdf;
      border-right: 0; }
      .nav-tabs > ul > li:nth-of-type(2n + 2) {
        border-right: 1px solid #dfdfdf; }
      .nav-tabs > ul > li:nth-of-type(3) {
        border-top: 0; }
      .nav-tabs > ul > li:nth-of-type(4) {
        border-top: 0; }
      .nav-tabs > ul > li.active {
        border-color: #f0840c;
        background-color: #f0840c; }
        .nav-tabs > ul > li.active a {
          color: #fff; }
      @media (min-width: 768px) {
        .nav-tabs > ul > li {
          width: 25%; }
          .nav-tabs > ul > li:nth-of-type(2n + 2) {
            border-right: 0; }
          .nav-tabs > ul > li:nth-of-type(3) {
            border-top: 1px solid #dfdfdf; }
          .nav-tabs > ul > li:nth-of-type(4) {
            border-top: 1px solid #dfdfdf; }
          .nav-tabs > ul > li:last-child {
            border-right: 1px solid #dfdfdf; } }
      .nav-tabs > ul > li a {
        display: block;
        height: 45px;
        font-size: 13px;
        color: #2b2b2b;
        font-weight: 300;
        text-align: center;
        line-height: 43px; }
        .nav-tabs > ul > li a:hover, .nav-tabs > ul > li a:focus {
          text-decoration: none; }
        @media (min-width: 768px) {
          .nav-tabs > ul > li a {
            font-size: 14px; } }
        @media (min-width: 1280px) {
          .nav-tabs > ul > li a {
            font-size: 15px; } }

.search-form {
  text-align: center;
  font-size: 0; }
  .search-form select {
    display: inline-block;
    width: 110px;
    height: 35px;
    font-size: 14px;
    font-weight: 300;
    vertical-align: top;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .search-form select {
        width: 130px;
        height: 40px;
        font-size: 15px;
        margin-right: 20px; } }
  .search-form .form-group {
    position: relative;
    width: 180px;
    display: inline-block; }
    @media (min-width: 768px) {
      .search-form .form-group {
        width: 350px; } }
    .search-form .form-group .form-control {
      height: 35px;
      font-size: 14px;
      vertical-align: top;
      padding-right: 35px; }
      @media (min-width: 768px) {
        .search-form .form-group .form-control {
          width: 100%;
          height: 40px;
          font-size: 15px; } }
    .search-form .form-group .btn-search {
      position: absolute;
      top: 1px;
      right: 1px;
      width: 33px;
      height: 33px; }
      @media (min-width: 768px) {
        .search-form .form-group .btn-search {
          width: 38px;
          height: 38px; } }
      @media (min-width: 1280px) {
        .search-form .form-group .btn-search {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .search-form .form-group .btn-search:hover {
            opacity: .5; } }
      .search-form .form-group .btn-search .icon-search {
        font-size: 15px;
        color: #e10316; }

.table-wrap .table {
  margin-bottom: 0;
  border-top: 3px solid #e40009; }
  .table-wrap .table thead tr th {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    padding: 23px 0;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f8f8; }
    @media (min-width: 768px) {
      .table-wrap .table thead tr th {
        font-size: 15px; } }
  .table-wrap .table tbody tr th {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border: 0;
    padding-left: 10px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f8f8; }
    @media (min-width: 768px) {
      .table-wrap .table tbody tr th {
        font-size: 15px;
        padding-left: 30px; } }
  .table-wrap .table tbody tr td {
    font-size: 13px;
    color: #555;
    font-weight: 300;
    vertical-align: middle;
    padding: 23px 10px;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    @media (min-width: 768px) {
      .table-wrap .table tbody tr td {
        font-size: 15px;
        padding-left: 40px; } }
    @media (min-width: 992px) {
      .table-wrap .table tbody tr td {
        padding-left: 30px; } }
  .table-wrap .table.table-write tbody tr td {
    padding: 10px;
    padding-right: 0; }
    @media (min-width: 768px) {
      .table-wrap .table.table-write tbody tr td {
        padding-left: 30px; } }
  .table-wrap .table.table-bordered {
    border-left: 0;
    border-right: 0; }
    .table-wrap .table.table-bordered thead tr th {
      text-align: center;
      border-right: 1px solid #dfdfdf; }
      .table-wrap .table.table-bordered thead tr th:last-child {
        border-right: 0; }
    .table-wrap .table.table-bordered tbody tr td {
      text-align: center;
      border-right: 1px solid #dfdfdf; }
      .table-wrap .table.table-bordered tbody tr td:last-child {
        border-right: 0; }

.table-responsive .table thead tr th {
  white-space: nowrap; }
.table-responsive .table thead tr td {
  white-space: nowrap; }
.table-responsive .table tbody tr th {
  white-space: nowrap; }
.table-responsive .table tbody tr td {
  white-space: nowrap; }

.decimal-list .list-title {
  width: 300px;
  margin: 0 auto;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 50px; }
  @media (min-width: 768px) {
    .decimal-list .list-title {
      width: 100%;
      height: 60px;
      font-size: 16px;
      line-height: 60px; } }
  @media (min-width: 1280px) {
    .decimal-list .list-title {
      font-size: 17px; } }
.decimal-list .decimal-li {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-top: 0; }
  @media (min-width: 768px) {
    .decimal-list .decimal-li {
      width: 100%;
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media (min-width: 1280px) {
    .decimal-list .decimal-li {
      padding-left: 50px;
      padding-right: 50px; } }
  .decimal-list .decimal-li li {
    font-size: 13px;
    color: #555;
    vertical-align: middle;
    line-height: 20px;
    margin-bottom: 10px; }
    .decimal-list .decimal-li li:last-child {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .decimal-list .decimal-li li {
        font-size: 14px; } }
    @media (min-width: 1280px) {
      .decimal-list .decimal-li li {
        font-size: 15px; } }

.sub main .btn {
  display: inline-block;
  width: 90px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  padding: 0;
  border: 0;
  border-radius: 0; }
  .sub main .btn.btn-orange {
    background-color: #f08501; }
  .sub main .btn.btn-gray {
    background-color: #595757; }
  @media (min-width: 768px) {
    .sub main .btn {
      font-size: 15px;
      width: 120px;
      height: 45px;
      line-height: 45px; } }
  @media (min-width: 1280px) {
    .sub main .btn {
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .sub main .btn:hover {
        opacity: .8; } }

.btn-area {
  text-align: center; }
  .btn-area p {
    font-size: 0; }
    .btn-area p .btn {
      color: #fdfdfd;
      margin-right: 15px; }
      .btn-area p .btn:last-child {
        margin-right: 0; }
      @media (min-width: 768px) {
        .btn-area p .btn {
          margin-right: 10px; } }

.reaction-list {
  border-top: 3px solid #e10316; }
  .reaction-list .dt-list {
    display: none;
    font-size: 0; }
    @media (min-width: 1280px) {
      .reaction-list .dt-list {
        display: block; } }
    .reaction-list .dt-list > li {
      display: inline-block;
      font-size: 15px;
      color: #333;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #ccc;
      background-color: #f7f7f7; }
      .reaction-list .dt-list > li:nth-of-type(1) {
        width: 8%; }
      .reaction-list .dt-list > li:nth-of-type(2) {
        width: 67%; }
      .reaction-list .dt-list > li:nth-of-type(3) {
        width: 15%; }
      .reaction-list .dt-list > li:nth-of-type(4) {
        width: 10%; }
  .reaction-list .dd-list > li {
    padding: 20px 10px;
    border-bottom: 1px solid #dfdfdf; }
    @media (min-width: 768px) {
      .reaction-list .dd-list > li {
        padding: 17px 20px; } }
    @media (min-width: 1280px) {
      .reaction-list .dd-list > li {
        padding-left: 0;
        padding-right: 0; } }
    .reaction-list .dd-list > li > ul {
      font-size: 0; }
      .reaction-list .dd-list > li > ul > li {
        display: inline-block;
        font-size: 15px;
        color: #666;
        font-weight: 300; }
        @media (min-width: 1280px) {
          .reaction-list .dd-list > li > ul > li {
            text-align: center;
            vertical-align: middle; } }
        .reaction-list .dd-list > li > ul > li.num {
          display: none; }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.num {
              display: inline-block;
              width: 8%; } }
        .reaction-list .dd-list > li > ul > li.subject {
          display: block;
          margin-bottom: 10px; }
          .reaction-list .dd-list > li > ul > li.subject a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            white-space: nowrap;
            color: #666; }
          @media (min-width: 768px) {
            .reaction-list .dd-list > li > ul > li.subject {
              margin-bottom: 15px; }
              .reaction-list .dd-list > li > ul > li.subject a {
                font-size: 16px; } }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.subject {
              display: inline-block;
              width: 67%;
              text-align: left;
              padding-left: 30px;
              margin-bottom: 0; }
              .reaction-list .dd-list > li > ul > li.subject a {
                font-size: 15px;
                vertical-align: middle; } }
        .reaction-list .dd-list > li > ul > li.date {
          font-size: 13px; }
          .reaction-list .dd-list > li > ul > li.date:after {
            display: inline-block;
            content: "|";
            font-size: 10px;
            color: #cbcbcb;
            padding: 0 10px;
            vertical-align: top;
            margin-top: 1px; }
          @media (min-width: 768px) {
            .reaction-list .dd-list > li > ul > li.date {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.date {
              width: 15%;
              font-size: 15px; }
              .reaction-list .dd-list > li > ul > li.date:after {
                content: " ";
                padding: 0; } }
        .reaction-list .dd-list > li > ul > li.u-name {
          font-size: 13px; }
          .reaction-list .dd-list > li > ul > li.u-name:after {
            display: inline-block;
            content: "|";
            font-size: 10px;
            color: #cbcbcb;
            padding: 0 10px;
            vertical-align: top;
            margin-top: 1px; }
          @media (min-width: 768px) {
            .reaction-list .dd-list > li > ul > li.u-name {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.u-name {
              width: 15%;
              font-size: 15px; }
              .reaction-list .dd-list > li > ul > li.u-name:after {
                content: " ";
                padding: 0; } }
        .reaction-list .dd-list > li > ul > li.count {
          font-size: 13px; }
          @media (min-width: 768px) {
            .reaction-list .dd-list > li > ul > li.count {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.count {
              display: inline-block;
              width: 10%;
              font-size: 15px; } }
        .reaction-list .dd-list > li > ul > li.reply {
          font-size: 13px; }
          @media (min-width: 768px) {
            .reaction-list .dd-list > li > ul > li.reply {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .reaction-list .dd-list > li > ul > li.reply {
              display: inline-block;
              width: 10%;
              font-size: 15px; } }

.reaction-view {
  border-top: 3px solid #e10316; }
  .reaction-view .title {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8; }
    @media (min-width: 768px) {
      .reaction-view .title {
        font-size: 18px;
        padding: 23px 0; } }
  .reaction-view .content {
    padding: 25px 0 42px; }
    @media (min-width: 768px) {
      .reaction-view .content {
        padding-bottom: 70px; } }
    @media (min-width: 1280px) {
      .reaction-view .content {
        padding-bottom: 50px; } }
    .reaction-view .content .list-info {
      text-align: right;
      font-size: 0;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        .reaction-view .content .list-info {
          margin-bottom: 70px; } }
      @media (min-width: 1280px) {
        .reaction-view .content .list-info {
          margin-bottom: 125px; } }
      .reaction-view .content .list-info > li {
        display: inline-block;
        font-size: 12px;
        color: #888;
        font-weight: 300; }
        @media (min-width: 768px) {
          .reaction-view .content .list-info > li {
            font-size: 15px; } }
        .reaction-view .content .list-info > li:first-child:after {
          display: inline-block;
          content: "|";
          font-size: 10px;
          color: #cbcbcb;
          padding: 0 10px;
          vertical-align: top;
          margin-top: 1px; }
        .reaction-view .content .list-info > li dl {
          font-size: 0; }
          .reaction-view .content .list-info > li dl dt {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            color: #888; }
            .reaction-view .content .list-info > li dl dt:after {
              display: inline-block;
              content: ":";
              padding: 0 3px; }
            @media (min-width: 768px) {
              .reaction-view .content .list-info > li dl dt {
                font-size: 15px; } }
          .reaction-view .content .list-info > li dl dd {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            color: #888; }
            @media (min-width: 768px) {
              .reaction-view .content .list-info > li dl dd {
                font-size: 15px; } }
    .reaction-view .content .view-content > p {
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      color: #666;
      font-weight: 300; }
      @media (min-width: 768px) {
        .reaction-view .content .view-content > p {
          font-size: 15px;
          line-height: 32px; } }
    .reaction-view .content .view-content > img {
      display: block;
      margin: 0 auto;
      margin-top: 60px; }
    .reaction-view .content .view-content .attach {
      margin-top: 40px; }
      @media (min-width: 992px) {
        .reaction-view .content .view-content .attach {
          margin-top: 70px; } }
      .reaction-view .content .view-content .attach dd {
        position: relative;
        padding-left: 20px; }
        .reaction-view .content .view-content .attach dd:before {
          position: absolute;
          top: 2px;
          left: 0;
          font-size: 12px;
          color: #888;
          content: "\E80D";
          font-family: "fontello";
          margin-right: 10px;
          vertical-align: middle; }
          @media (min-width: 768px) {
            .reaction-view .content .view-content .attach dd:before {
              font-size: 13px; } }
        .reaction-view .content .view-content .attach dd a {
          display: block;
          font-size: 13px;
          color: #888;
          font-weight: 300;
          margin-top: 5px; }
          .reaction-view .content .view-content .attach dd a:first-child {
            margin-top: 0; }
          .reaction-view .content .view-content .attach dd a:after {
            content: ",";
            padding-right: 5px; }
          .reaction-view .content .view-content .attach dd a:last-child:after {
            content: "";
            padding: 0; }
          @media (min-width: 768px) {
            .reaction-view .content .view-content .attach dd a {
              font-size: 14px; } }
          @media (min-width: 1280px) {
            .reaction-view .content .view-content .attach dd a {
              display: inline-block; } }
        @media (min-width: 768px) {
          .reaction-view .content .view-content .attach dd {
            padding-left: 25px; }
            .reaction-view .content .view-content .attach dd:before {
              top: 3px; } }

.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0;
    border-radius: 0; }
    .paging .pagination li a {
      font-size: 18px;
      text-align: center;
      color: #aeaeaf;
      font-family: 'Titillium Web', sans-serif;
      padding: 0 11px;
      border: 0;
      border-radius: 0; }
      .paging .pagination li a:hover {
        background: none; }
    .paging .pagination li.active a {
      position: relative;
      font-weight: bold;
      color: #e10013;
      background: none; }
      .paging .pagination li.active a:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -6px;
        content: "";
        width: 14px;
        border-bottom: 1px solid #e10013; }
    .paging .pagination li.stp a {
      padding: 0; }
    .paging .pagination li.stm-right a {
      margin-right: 15px; }
    .paging .pagination li.stm-left a {
      margin-left: 15px; }

/*# sourceMappingURL=sub.css.map */
