@charset "UTF-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@media (min-width: 1280px) {
  .technology .page-header .lnb .dropdown-menu li {
    width: 25%; } }

.maintenance .section-content .as-service .article-header {
  padding-top: 0; }
  .maintenance .section-content .as-service .article-header .summary i {
    font-style: normal;
    color: #f08501; }
.maintenance .section-content .contract {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .maintenance .section-content .contract {
      padding-bottom: 110px; } }
  @media (min-width: 768px) {
    .maintenance .section-content .contract .article-content {
      padding-top: 15px; } }
  @media (min-width: 1280px) {
    .maintenance .section-content .contract .article-content {
      padding-top: 35px; } }
  .maintenance .section-content .contract .article-content > ul > li {
    display: table; }
    .maintenance .section-content .contract .article-content > ul > li .figure {
      display: table-row;
      vertical-align: middle;
      height: 67px; }
      .maintenance .section-content .contract .article-content > ul > li .figure img {
        display: block;
        margin: 0 auto; }
    .maintenance .section-content .contract .article-content > ul > li .figcaption {
      text-align: center;
      padding-top: 15px;
      margin-bottom: 60px; }
      @media (min-width: 768px) {
        .maintenance .section-content .contract .article-content > ul > li .figcaption {
          padding-top: 35px;
          margin-bottom: 50px; } }
      .maintenance .section-content .contract .article-content > ul > li .figcaption h5 {
        font-size: 15px;
        color: #2b2b2b;
        font-weight: 400; }
        @media (min-width: 768px) {
          .maintenance .section-content .contract .article-content > ul > li .figcaption h5 {
            font-size: 16px; } }
      .maintenance .section-content .contract .article-content > ul > li .figcaption .summary {
        font-size: 14px;
        color: #555;
        line-height: 22px;
        margin-top: 20px; }
    .maintenance .section-content .contract .article-content > ul > li:last-child .figcaption {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .maintenance .section-content .contract .article-content > ul > li:nth-of-type(3) .figcaption {
        margin-bottom: 0; } }
    @media (min-width: 1280px) {
      .maintenance .section-content .contract .article-content > ul > li .figcaption {
        margin-bottom: 0; } }
@media (min-width: 768px) {
  .maintenance .section-content .solution .article-header .summary {
    letter-spacing: -.5px; } }
@media (min-width: 992px) {
  .maintenance .section-content .solution .article-header .summary {
    letter-spacing: 0; } }
.maintenance .section-content .solution .article-content .compare {
  padding-bottom: 155px;
  background-image: url(/assets/images/technology/compare_bg.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 50% 100%; }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .compare {
      position: relative;
      padding-bottom: 170px;
      background-size: 326px auto; } }
  @media (min-width: 992px) {
    .maintenance .section-content .solution .article-content .compare {
      padding-bottom: 185px; } }
  .maintenance .section-content .solution .article-content .compare h5 {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    background-color: #595757; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .compare h5 {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        font-size: 16px;
        line-height: 120px; } }
    @media (min-width: 992px) {
      .maintenance .section-content .solution .article-content .compare h5 {
        font-size: 17px; } }
  .maintenance .section-content .solution .article-content .compare .circle-list {
    font-size: 0;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    border-top: 0; }
    .maintenance .section-content .solution .article-content .compare .circle-list li {
      font-size: 13px;
      color: #555;
      line-height: 20px;
      margin-bottom: 10px; }
      .maintenance .section-content .solution .article-content .compare .circle-list li:last-child {
        margin-bottom: 0; }
      .maintenance .section-content .solution .article-content .compare .circle-list li i {
        font-style: normal;
        width: 20px;
        height: 20px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-family: 'Titillium Web', sans-serif;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: top;
        background-color: #595757; }
      .maintenance .section-content .solution .article-content .compare .circle-list li p {
        display: inline-block;
        font-size: 13px;
        color: #555;
        line-height: 20px; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .compare .circle-list {
        width: 100%;
        padding: 34px;
        padding-right: 0;
        padding-left: 25%;
        border-top: 1px solid #ccc;
        border-left: 0; }
        .maintenance .section-content .solution .article-content .compare .circle-list li {
          display: inline-block;
          width: 33.33%;
          vertical-align: top; }
          .maintenance .section-content .solution .article-content .compare .circle-list li p {
            display: inline-block;
            text-align: center;
            font-size: 14px; } }
    @media (min-width: 992px) {
      .maintenance .section-content .solution .article-content .compare .circle-list {
        padding-top: 44px;
        padding-bottom: 44px; }
        .maintenance .section-content .solution .article-content .compare .circle-list li p {
          font-size: 15px; } }
.maintenance .section-content .solution .article-content .decimal-list {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .decimal-list {
      margin-top: 45px; } }
  @media (min-width: 992px) {
    .maintenance .section-content .solution .article-content .decimal-list {
      margin-top: 50px; } }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .decimal-list .decimal-li {
      border-bottom: 0; } }
  .maintenance .section-content .solution .article-content .decimal-list .attention {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 15px; }
    .maintenance .section-content .solution .article-content .decimal-list .attention:before {
      content: "※";
      margin-right: 5px; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .decimal-list .attention {
        font-size: 13px;
        margin-top: 20px;
        text-align: left; } }

.peroxide .section-content .peroxide-info {
  padding-bottom: 55px; }
  @media (min-width: 768px) {
    .peroxide .section-content .peroxide-info {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .peroxide .section-content .peroxide-info {
      padding-bottom: 110px; } }
  @media (min-width: 768px) {
    .peroxide .section-content .peroxide-info .article-header .summary {
      letter-spacing: -.5px; } }
  @media (min-width: 992px) {
    .peroxide .section-content .peroxide-info .article-header .summary {
      letter-spacing: 0; } }
  .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
    padding: 35px 30px; }
    .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      letter-spacing: -.5px; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li:last-child {
        margin-bottom: 0; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li i {
        position: absolute;
        top: 0;
        left: 0; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li.bl-txt {
        color: #444da1; }
    @media (min-width: 768px) {
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
        margin-bottom: 20px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li {
          margin-bottom: 20px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol {
          font-size: 0; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol li {
            display: inline-block;
            width: 50%; } }
    @media (min-width: 1280px) {
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
        height: 556px;
        margin-bottom: 0; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li {
          margin-bottom: 25px;
          line-height: 30px; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li i {
            top: 5px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol {
          font-size: 0; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol li {
            display: block;
            width: 100%; } }
.peroxide .section-content .dual-circuit {
  padding-bottom: 55px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .peroxide .section-content .dual-circuit {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .peroxide .section-content .dual-circuit {
      padding-bottom: 110px; } }
  .peroxide .section-content .dual-circuit .article-content .figure .img-responsive {
    margin: 0 auto; }
.peroxide .section-content .table-responsive {
  border: 0;
  padding-top: 55px; }
  @media (min-width: 768px) {
    .peroxide .section-content .table-responsive {
      padding-top: 80px; } }
  @media (min-width: 1280px) {
    .peroxide .section-content .table-responsive {
      padding-top: 110px; } }
  .peroxide .section-content .table-responsive h6 {
    font-size: 20px;
    color: #2b2b2b;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px; }
    .peroxide .section-content .table-responsive h6 sup {
      font-size: 12px;
      vertical-align: sub; }
    @media (min-width: 1280px) {
      .peroxide .section-content .table-responsive h6 {
        font-size: 30px;
        margin-bottom: 30px; }
        .peroxide .section-content .table-responsive h6 sup {
          font-size: 13px; } }
  .peroxide .section-content .table-responsive .table-bordered {
    border-bottom: 1px solid #dfdfdf; }
    .peroxide .section-content .table-responsive .table-bordered thead tr th {
      padding-left: 25px;
      padding-right: 25px; }
    .peroxide .section-content .table-responsive .table-bordered tbody tr td {
      padding-left: 25px;
      padding-right: 25px;
      line-height: 26px; }
      .peroxide .section-content .table-responsive .table-bordered tbody tr td.red-txt {
        color: #e00014; }

.space .section-content .room-bio {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .space .section-content .room-bio {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .space .section-content .room-bio {
      padding-bottom: 1100px; } }
  .space .section-content .room-bio .article-content {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .space .section-content .room-bio .article-content {
        margin-top: 0; } }
    @media (min-width: 1280px) {
      .space .section-content .room-bio .article-content {
        margin-top: 40px; } }
    .space .section-content .room-bio .article-content > ul > li {
      display: table; }
      .space .section-content .room-bio .article-content > ul > li .figure {
        display: table-row;
        height: 77px;
        vertical-align: middle; }
        .space .section-content .room-bio .article-content > ul > li .figure img {
          display: block;
          margin: 0 auto; }
      .space .section-content .room-bio .article-content > ul > li .figcaption {
        font-size: 13px;
        color: #555;
        line-height: 20px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px; }
        @media (min-width: 768px) {
          .space .section-content .room-bio .article-content > ul > li .figcaption {
            font-size: 14px;
            line-height: 22px;
            margin-top: 20px; } }
        @media (min-width: 1280px) {
          .space .section-content .room-bio .article-content > ul > li .figcaption {
            font-size: 15px;
            line-height: 24px;
            margin-top: 40px; } }
      .space .section-content .room-bio .article-content > ul > li:nth-of-type(5) .figcaption {
        margin-bottom: 0; }
      .space .section-content .room-bio .article-content > ul > li:nth-of-type(6) .figcaption {
        margin-bottom: 0; }
      @media (min-width: 768px) {
        .space .section-content .room-bio .article-content > ul > li:nth-of-type(4) .figcaption {
          margin-bottom: 0; } }
      @media (min-width: 1280px) {
        .space .section-content .room-bio .article-content > ul > li .figcaption {
          margin-bottom: 0; } }

/*# sourceMappingURL=technology.css.map */
