@charset "UTF-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@media (min-width: 1280px) {
  .technology .page-header .lnb .dropdown-menu li {
    width: 25%; } }

.maintenance .section-content .as-service .article-header {
  padding-top: 0; }
  .maintenance .section-content .as-service .article-header .summary i {
    font-style: normal;
    color: #f08501; }
.maintenance .section-content .contract {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .maintenance .section-content .contract {
      padding-bottom: 110px; } }
  @media (min-width: 768px) {
    .maintenance .section-content .contract .article-content {
      padding-top: 15px; } }
  @media (min-width: 1280px) {
    .maintenance .section-content .contract .article-content {
      padding-top: 35px; } }
  .maintenance .section-content .contract .article-content > ul > li {
    display: table; }
    .maintenance .section-content .contract .article-content > ul > li .figure {
      display: table-row;
      vertical-align: middle;
      height: 67px; }
      .maintenance .section-content .contract .article-content > ul > li .figure img {
        display: block;
        margin: 0 auto; }
    .maintenance .section-content .contract .article-content > ul > li .figcaption {
      text-align: center;
      padding-top: 15px;
      margin-bottom: 60px; }
      @media (min-width: 768px) {
        .maintenance .section-content .contract .article-content > ul > li .figcaption {
          padding-top: 35px;
          margin-bottom: 50px; } }
      .maintenance .section-content .contract .article-content > ul > li .figcaption h5 {
        font-size: 15px;
        color: #2b2b2b;
        font-weight: 400; }
        @media (min-width: 768px) {
          .maintenance .section-content .contract .article-content > ul > li .figcaption h5 {
            font-size: 16px; } }
      .maintenance .section-content .contract .article-content > ul > li .figcaption .summary {
        font-size: 14px;
        color: #555;
        line-height: 22px;
        margin-top: 20px; }
    .maintenance .section-content .contract .article-content > ul > li:last-child .figcaption {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .maintenance .section-content .contract .article-content > ul > li:nth-of-type(3) .figcaption {
        margin-bottom: 0; } }
    @media (min-width: 1280px) {
      .maintenance .section-content .contract .article-content > ul > li .figcaption {
        margin-bottom: 0; } }
@media (min-width: 768px) {
  .maintenance .section-content .solution .article-header .summary {
    letter-spacing: -.5px; } }
@media (min-width: 992px) {
  .maintenance .section-content .solution .article-header .summary {
    letter-spacing: 0; } }
.maintenance .section-content .solution .article-content .compare {
  padding-bottom: 155px;
  background-image: url(/assets/images/technology/compare_bg.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 50% 100%; }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .compare {
      position: relative;
      padding-bottom: 170px;
      background-size: 326px auto; } }
  @media (min-width: 992px) {
    .maintenance .section-content .solution .article-content .compare {
      padding-bottom: 185px; } }
  .maintenance .section-content .solution .article-content .compare h5 {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    background-color: #595757; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .compare h5 {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        font-size: 16px;
        line-height: 120px; } }
    @media (min-width: 992px) {
      .maintenance .section-content .solution .article-content .compare h5 {
        font-size: 17px; } }
  .maintenance .section-content .solution .article-content .compare .circle-list {
    font-size: 0;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    border-top: 0; }
    .maintenance .section-content .solution .article-content .compare .circle-list li {
      font-size: 13px;
      color: #555;
      line-height: 20px;
      margin-bottom: 10px; }
      .maintenance .section-content .solution .article-content .compare .circle-list li:last-child {
        margin-bottom: 0; }
      .maintenance .section-content .solution .article-content .compare .circle-list li i {
        font-style: normal;
        width: 20px;
        height: 20px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-family: 'Titillium Web', sans-serif;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: top;
        background-color: #595757; }
      .maintenance .section-content .solution .article-content .compare .circle-list li p {
        display: inline-block;
        font-size: 13px;
        color: #555;
        line-height: 20px; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .compare .circle-list {
        width: 100%;
        padding: 34px;
        padding-right: 0;
        padding-left: 25%;
        border-top: 1px solid #ccc;
        border-left: 0; }
        .maintenance .section-content .solution .article-content .compare .circle-list li {
          display: inline-block;
          width: 33.33%;
          vertical-align: top; }
          .maintenance .section-content .solution .article-content .compare .circle-list li p {
            display: inline-block;
            text-align: center;
            font-size: 14px; } }
    @media (min-width: 992px) {
      .maintenance .section-content .solution .article-content .compare .circle-list {
        padding-top: 44px;
        padding-bottom: 44px; }
        .maintenance .section-content .solution .article-content .compare .circle-list li p {
          font-size: 15px; } }
.maintenance .section-content .solution .article-content .decimal-list {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .decimal-list {
      margin-top: 45px; } }
  @media (min-width: 992px) {
    .maintenance .section-content .solution .article-content .decimal-list {
      margin-top: 50px; } }
  @media (min-width: 768px) {
    .maintenance .section-content .solution .article-content .decimal-list .decimal-li {
      border-bottom: 0; } }
  .maintenance .section-content .solution .article-content .decimal-list .attention {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 15px; }
    .maintenance .section-content .solution .article-content .decimal-list .attention:before {
      content: "※";
      margin-right: 5px; }
    @media (min-width: 768px) {
      .maintenance .section-content .solution .article-content .decimal-list .attention {
        font-size: 13px;
        margin-top: 20px;
        text-align: left; } }

.peroxide .section-content .peroxide-info {
  padding-bottom: 55px; }
  @media (min-width: 768px) {
    .peroxide .section-content .peroxide-info {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .peroxide .section-content .peroxide-info {
      padding-bottom: 110px; } }
  @media (min-width: 768px) {
    .peroxide .section-content .peroxide-info .article-header .summary {
      letter-spacing: -.5px; } }
  @media (min-width: 992px) {
    .peroxide .section-content .peroxide-info .article-header .summary {
      letter-spacing: 0; } }
  .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
    padding: 35px 30px; }
    .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      letter-spacing: -.5px; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li:last-child {
        margin-bottom: 0; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li i {
        position: absolute;
        top: 0;
        left: 0; }
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li > li.bl-txt {
        color: #444da1; }
    @media (min-width: 768px) {
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
        margin-bottom: 20px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li {
          margin-bottom: 20px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol {
          font-size: 0; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol li {
            display: inline-block;
            width: 50%; } }
    @media (min-width: 1280px) {
      .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li {
        height: 556px;
        margin-bottom: 0; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li {
          margin-bottom: 25px;
          line-height: 30px; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li li i {
            top: 5px; }
        .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol {
          font-size: 0; }
          .peroxide .section-content .peroxide-info .article-content .decimal-list .decimal-li.first-ol li {
            display: block;
            width: 100%; } }
.peroxide .section-content .dual-circuit {
  padding-bottom: 55px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .peroxide .section-content .dual-circuit {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .peroxide .section-content .dual-circuit {
      padding-bottom: 110px; } }
  .peroxide .section-content .dual-circuit .article-content .figure .img-responsive {
    margin: 0 auto; }

.space .section-content .room-bio {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .space .section-content .room-bio {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .space .section-content .room-bio {
      padding-bottom: 110px; } }
  .space .section-content .room-bio .article-content > ul > li {
    display: table; }
    .space .section-content .room-bio .article-content > ul > li .figure {
      display: table-row;
      height: 77px;
      vertical-align: middle; }
      .space .section-content .room-bio .article-content > ul > li .figure img {
        display: block;
        margin: 0 auto; }
    .space .section-content .room-bio .article-content > ul > li .figcaption {
      font-size: 13px;
      color: #555;
      line-height: 20px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 60px; }
      @media (min-width: 768px) {
        .space .section-content .room-bio .article-content > ul > li .figcaption {
          font-size: 14px;
          line-height: 22px;
          margin-top: 20px; } }
      @media (min-width: 1280px) {
        .space .section-content .room-bio .article-content > ul > li .figcaption {
          font-size: 15px;
          line-height: 24px;
          margin-top: 40px; } }
    .space .section-content .room-bio .article-content > ul > li:nth-of-type(5) .figcaption {
      margin-bottom: 0; }
    .space .section-content .room-bio .article-content > ul > li:nth-of-type(6) .figcaption {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .space .section-content .room-bio .article-content > ul > li:nth-of-type(4) .figcaption {
        margin-bottom: 0; } }
    @media (min-width: 1280px) {
      .space .section-content .room-bio .article-content > ul > li .figcaption {
        margin-bottom: 0; } }
.space .section-content .service {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .space .section-content .service {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .space .section-content .service {
      padding-bottom: 110px; } }
  .space .section-content .service .article-content > ul > li figure {
    margin-bottom: 10px; }
    .space .section-content .service .article-content > ul > li figure .img-responsive {
      width: 100%;
      margin: 0 auto; }
  .space .section-content .service .article-content > ul > li:nth-of-type(3) figure {
    margin-bottom: 0; }
  .space .section-content .service .article-content > ul > li:nth-of-type(3) figure {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .space .section-content .service .article-content > ul > li figure {
      margin-bottom: 30px; } }
  @media (min-width: 1280px) {
    .space .section-content .service .article-content > ul > li figure {
      margin-bottom: 0; } }
.space .section-content .process-service .article-content .figure .img-responsive {
  margin: 0 auto; }

.process-info #content {
  padding-bottom: 0; }

.process .field-work {
  padding-bottom: 55px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .process .field-work {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .process .field-work {
      padding-bottom: 110px; } }
  .process .field-work .article-content .work-list {
    font-size: 0; }
    .process .field-work .article-content .work-list li {
      display: inline-block;
      width: 50%;
      text-align: center;
      margin-bottom: 10px; }
      .process .field-work .article-content .work-list li:last-child {
        width: 100%;
        margin-bottom: 0; }
      @media (min-width: 768px) {
        .process .field-work .article-content .work-list li {
          padding: 0 10px;
          width: 33.33%;
          margin-bottom: 20px; }
          .process .field-work .article-content .work-list li:nth-of-type(4) {
            width: 50%;
            margin-bottom: 0;
            text-align: right; }
          .process .field-work .article-content .work-list li:last-child {
            width: 50%;
            text-align: left; } }
      @media (min-width: 992px) {
        .process .field-work .article-content .work-list li {
          width: 20% !important;
          margin-bottom: 0; } }
      .process .field-work .article-content .work-list li figure {
        display: inline-block;
        max-width: 145px;
        border: 1px solid #ccc; }
        @media (min-width: 360px) {
          .process .field-work .article-content .work-list li figure {
            max-width: 160px; } }
        @media (min-width: 412px) {
          .process .field-work .article-content .work-list li figure {
            max-width: 185px; } }
        @media (min-width: 768px) {
          .process .field-work .article-content .work-list li figure {
            max-width: 226px; } }
        .process .field-work .article-content .work-list li figure .img-responsive {
          width: 100%; }
        .process .field-work .article-content .work-list li figure figcaption {
          width: 100%;
          font-size: 14px;
          color: #555;
          text-align: center;
          line-height: 45px; }
          @media (min-width: 768px) {
            .process .field-work .article-content .work-list li figure figcaption {
              font-size: 16px;
              line-height: 60px; } }

.automation .section-content .configuration {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .automation .section-content .configuration {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .automation .section-content .configuration {
      padding-bottom: 110px; } }
  .automation .section-content .configuration .article-header .summary i {
    font-style: normal;
    color: #f08501; }
  .automation .section-content .configuration .article-content figure .img-responsive {
    margin: 0 auto; }
.automation .section-content .system .article-header {
  text-align: left;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .automation .section-content .system .article-header {
      padding-bottom: 30px; } }
.automation .section-content .system .article-content .table-responsive {
  padding-top: 0; }
  .automation .section-content .system .article-content .table-responsive .table thead tr th {
    padding: 20px; }
    @media (min-width: 768px) {
      .automation .section-content .system .article-content .table-responsive .table thead tr th {
        padding: 20px 30px; } }
  .automation .section-content .system .article-content .table-responsive .table tbody tr td {
    text-align: left;
    padding: 20px; }
    @media (min-width: 768px) {
      .automation .section-content .system .article-content .table-responsive .table tbody tr td {
        padding: 20px 30px; } }
    .automation .section-content .system .article-content .table-responsive .table tbody tr td:last-child {
      vertical-align: top; }
    .automation .section-content .system .article-content .table-responsive .table tbody tr td ul {
      display: inline-block; }
      .automation .section-content .system .article-content .table-responsive .table tbody tr td ul li {
        font-size: 13px; }
        .automation .section-content .system .article-content .table-responsive .table tbody tr td ul li:before {
          content: "·";
          color: #aeaeaf;
          padding-right: 5px; }
        @media (min-width: 768px) {
          .automation .section-content .system .article-content .table-responsive .table tbody tr td ul li {
            font-size: 15px;
            line-height: 30px; } }

.calibration .section-header .summary i {
  font-style: normal;
  color: #ef4600; }
@media (min-width: 768px) {
  .calibration .section-header .summary {
    font-size: 16px;
    line-height: 28px; } }
@media (min-width: 1280px) {
  .calibration .section-header .summary {
    font-size: 20px;
    line-height: 30px; } }
.calibration .section-content .superior-service {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .calibration .section-content .superior-service {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .calibration .section-content .superior-service {
      padding-bottom: 110px; } }
  .calibration .section-content .superior-service .article-content > ul > li {
    text-align: center; }
    .calibration .section-content .superior-service .article-content > ul > li .figure {
      height: 79px;
      line-height: 79px;
      vertical-align: middle; }
      .calibration .section-content .superior-service .article-content > ul > li .figure img {
        display: inline-block; }
    .calibration .section-content .superior-service .article-content > ul > li .figcaption {
      font-size: 14px;
      color: #2b2b2b;
      margin-top: 25px;
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .calibration .section-content .superior-service .article-content > ul > li .figcaption {
          font-size: 15px;
          margin-top: 30px;
          margin-bottom: 0; } }
      @media (min-width: 1280px) {
        .calibration .section-content .superior-service .article-content > ul > li .figcaption {
          font-size: 16px; } }
    .calibration .section-content .superior-service .article-content > ul > li:nth-of-type(3) .figcaption {
      margin-bottom: 0; }
    .calibration .section-content .superior-service .article-content > ul > li:nth-of-type(4) .figcaption {
      margin-bottom: 0; }
.calibration .section-content .target .article-content > ul > li {
  text-align: center; }
  .calibration .section-content .target .article-content > ul > li .figure img {
    display: inline-block; }
  @media (min-width: 768px) {
    .calibration .section-content .target .article-content > ul > li .figure {
      height: 185px;
      line-height: 185px; } }
  @media (min-width: 1280px) {
    .calibration .section-content .target .article-content > ul > li .figure {
      height: 267px;
      line-height: 267px; } }
  .calibration .section-content .target .article-content > ul > li .figcaption {
    font-size: 14px;
    color: #2b2b2b;
    margin-top: 30px;
    margin-bottom: 70px; }
    @media (min-width: 768px) {
      .calibration .section-content .target .article-content > ul > li .figcaption {
        font-size: 15px;
        margin-bottom: 0; } }
    @media (min-width: 1280px) {
      .calibration .section-content .target .article-content > ul > li .figcaption {
        margin-top: 35px;
        font-size: 16px; } }
  .calibration .section-content .target .article-content > ul > li:nth-of-type(1) .figure img {
    width: 88px; }
    @media (min-width: 1280px) {
      .calibration .section-content .target .article-content > ul > li:nth-of-type(1) .figure img {
        width: 128px; } }
  .calibration .section-content .target .article-content > ul > li:nth-of-type(2) .figure img {
    width: 200px; }
    @media (min-width: 1280px) {
      .calibration .section-content .target .article-content > ul > li:nth-of-type(2) .figure img {
        width: 323px; } }
  .calibration .section-content .target .article-content > ul > li:last-child .figure img {
    width: 170px; }
    @media (min-width: 1280px) {
      .calibration .section-content .target .article-content > ul > li:last-child .figure img {
        width: 249px; } }
  .calibration .section-content .target .article-content > ul > li:last-child .figcaption {
    margin-bottom: 0; }

.organism .section-content .all-in-one .article-content .decimal-list .details {
  display: table;
  font-size: 0;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-top: 0;
  text-align: center;
  margin-bottom: 10px; }
  .organism .section-content .all-in-one .article-content .decimal-list .details p {
    display: table-cell;
    font-size: 13px;
    color: #555;
    line-height: 24px;
    padding: 30px 0;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .organism .section-content .all-in-one .article-content .decimal-list .details p {
        width: 50%;
        font-size: 14px;
        line-height: 26px;
        padding: 0; } }
    @media (min-width: 1280px) {
      .organism .section-content .all-in-one .article-content .decimal-list .details p {
        display: block;
        width: 100%;
        font-size: 15px;
        padding: 40px 0; } }
  .organism .section-content .all-in-one .article-content .decimal-list .details figure {
    display: table-cell;
    width: 50%;
    border-left: 1px solid #ccc; }
    .organism .section-content .all-in-one .article-content .decimal-list .details figure .img-responsive {
      width: 100%; }
    @media (min-width: 1280px) {
      .organism .section-content .all-in-one .article-content .decimal-list .details figure {
        display: block;
        width: 100%;
        border-left: 0;
        border-top: 1px solid #ccc; } }
  @media (min-width: 768px) {
    .organism .section-content .all-in-one .article-content .decimal-list .details {
      width: 100%;
      margin-bottom: 20px; } }
  @media (min-width: 1280px) {
    .organism .section-content .all-in-one .article-content .decimal-list .details {
      margin-bottom: 0;
      display: block; } }

.film-build-info #content {
  padding-bottom: 0; }

.film-build .section-content article .article-header .summary i {
  font-style: normal;
  color: #ef4600; }
.film-build .section-content article.panel {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .film-build .section-content article.panel {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .film-build .section-content article.panel {
      padding-bottom: 110px; } }
  .film-build .section-content article.panel .article-content > ul > li figure {
    text-align: center;
    margin-bottom: 30px; }
    .film-build .section-content article.panel .article-content > ul > li figure .img-responsive {
      margin: 0 auto; }
    .film-build .section-content article.panel .article-content > ul > li figure figcaption {
      font-size: 14px;
      color: #333;
      margin-top: 20px; }
    @media (min-width: 768px) {
      .film-build .section-content article.panel .article-content > ul > li figure {
        margin-bottom: 60px; }
        .film-build .section-content article.panel .article-content > ul > li figure figcaption {
          font-size: 16px; } }
    @media (min-width: 992px) {
      .film-build .section-content article.panel .article-content > ul > li figure {
        margin-bottom: 0; } }
  .film-build .section-content article.panel .article-content > ul > li:last-child figure {
    margin-bottom: 0; }
.film-build .section-content article.pvc-film {
  padding-bottom: 50px;
  background-color: #f7f8f9; }
  @media (min-width: 768px) {
    .film-build .section-content article.pvc-film {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .film-build .section-content article.pvc-film {
      padding-bottom: 110px; } }
  .film-build .section-content article.pvc-film .article-header {
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .film-build .section-content article.pvc-film .article-header {
        padding-bottom: 40px; } }
    @media (min-width: 1280px) {
      .film-build .section-content article.pvc-film .article-header {
        padding-bottom: 70px; } }
  .film-build .section-content article.pvc-film .article-content figure .img-responsive {
    margin: 0 auto; }
  .film-build .section-content article.pvc-film .article-content .attention {
    padding-top: 30px; }
    .film-build .section-content article.pvc-film .article-content .attention p {
      font-size: 11px;
      color: #555;
      line-height: 20px;
      font-weight: 300; }
      .film-build .section-content article.pvc-film .article-content .attention p:before {
        content: "*";
        padding-right: 3px; }
      @media (min-width: 768px) {
        .film-build .section-content article.pvc-film .article-content .attention p {
          font-size: 13px;
          line-height: 22px; } }
      @media (min-width: 1280px) {
        .film-build .section-content article.pvc-film .article-content .attention p {
          font-size: 15px;
          line-height: 24px; } }
    .film-build .section-content article.pvc-film .article-content .attention dl {
      font-size: 0; }
      .film-build .section-content article.pvc-film .article-content .attention dl dt {
        display: inline-block;
        font-size: 11px;
        color: #555;
        line-height: 20px;
        font-weight: 300; }
        .film-build .section-content article.pvc-film .article-content .attention dl dt:before {
          content: "*";
          padding-right: 3px; }
        .film-build .section-content article.pvc-film .article-content .attention dl dt:after {
          content: ":";
          padding: 0 3px; }
        @media (min-width: 768px) {
          .film-build .section-content article.pvc-film .article-content .attention dl dt {
            font-size: 13px;
            line-height: 22px; } }
        @media (min-width: 1280px) {
          .film-build .section-content article.pvc-film .article-content .attention dl dt {
            font-size: 15px;
            line-height: 24px; } }
      .film-build .section-content article.pvc-film .article-content .attention dl dd {
        display: inline-block;
        font-size: 11px;
        color: #555;
        line-height: 20px;
        font-weight: 300; }
        @media (min-width: 768px) {
          .film-build .section-content article.pvc-film .article-content .attention dl dd {
            font-size: 13px;
            line-height: 22px; } }
        @media (min-width: 1280px) {
          .film-build .section-content article.pvc-film .article-content .attention dl dd {
            font-size: 15px;
            line-height: 24px; } }

.built-in-info #content {
  padding-bottom: 0; }

.built-in .section-content .service {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .built-in .section-content .service {
      padding-bottom: 80px; } }
  @media (min-width: 768px) {
    .built-in .section-content .service {
      padding-bottom: 110px; } }
  .built-in .section-content .service .article-content .service-list {
    padding-bottom: 135px;
    background-image: url(/assets/images/technology/compare_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 260px auto; }
    @media (min-width: 768px) {
      .built-in .section-content .service .article-content .service-list {
        padding-bottom: 188px;
        background-size: 326px auto; } }
    @media (min-width: 768px) {
      .built-in .section-content .service .article-content .service-list {
        padding-bottom: 185px; } }
    .built-in .section-content .service .article-content .service-list > ul > li:last-child .researcher {
      margin-bottom: 0; }
    .built-in .section-content .service .article-content .service-list > ul > li .researcher {
      width: 300px;
      font-size: 0;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 10px 10px 10px 0;
      border: 1px solid #ccc; }
      @media (min-width: 768px) {
        .built-in .section-content .service .article-content .service-list > ul > li .researcher {
          margin-bottom: 0;
          width: 228px;
          padding: 30px 15px 15px; } }
      @media (min-width: 1280px) {
        .built-in .section-content .service .article-content .service-list > ul > li .researcher {
          width: 370px;
          padding: 50px 25px 25px; } }
      .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box {
        display: table-cell;
        vertical-align: middle; }
        @media (min-width: 768px) {
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box {
            display: block; } }
        .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure {
          width: 90px;
          height: 66px;
          line-height: 66px;
          text-align: center;
          vertical-align: middle; }
          @media (min-width: 768px) {
            .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure {
              width: 100%;
              height: 120px;
              line-height: 120px; } }
          @media (min-width: 1280px) {
            .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure {
              height: 136px;
              line-height: 136px; } }
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure img {
            display: inline-block;
            width: 46px; }
            @media (min-width: 768px) {
              .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure img {
                width: 83px; } }
            @media (min-width: 1280px) {
              .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figure img {
                width: 95px; } }
        .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption {
          display: block;
          width: 90px;
          font-size: 13px;
          text-align: center;
          margin-top: 10px; }
          @media (min-width: 768px) {
            .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption {
              width: 100%;
              font-size: 15px;
              margin-top: 15px;
              margin-bottom: 20px; } }
          @media (min-width: 1280px) {
            .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption {
              font-size: 17px;
              margin-top: 20px;
              margin-bottom: 25px; } }
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption.bl-txt {
            color: #444da1; }
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption.or-txt {
            color: #f08501; }
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .fig-box .figcaption.gr-txt {
            color: #595757; }
      .built-in .section-content .service .article-content .service-list > ul > li .researcher .summary {
        display: table-cell;
        width: 210px;
        height: 120px;
        font-size: 13px;
        color: #fff;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px; }
        @media (min-width: 768px) {
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .summary {
            width: 196px;
            font-size: 14px; } }
        @media (min-width: 1280px) {
          .built-in .section-content .service .article-content .service-list > ul > li .researcher .summary {
            width: 318px;
            border: 1px solid #ccc; } }
  .built-in .section-content .service .article-content .attention {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    padding-top: 20px; }
    .built-in .section-content .service .article-content .attention b {
      font-style: normal;
      color: #e10013;
      font-weight: 400; }
    @media (min-width: 768px) {
      .built-in .section-content .service .article-content .attention {
        font-size: 20px;
        line-height: 32px;
        padding-top: 30px; } }
    @media (min-width: 1280px) {
      .built-in .section-content .service .article-content .attention {
        font-size: 25px;
        line-height: 40px;
        padding-top: 60px; } }
.built-in .section-content .renovation {
  background-color: #f7f8f9;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .built-in .section-content .renovation {
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .built-in .section-content .renovation {
      padding-bottom: 110px; } }
  .built-in .section-content .renovation .article-content .figure .img-responsive {
    margin: 0 auto; }

/*# sourceMappingURL=technology.css.map */
